<section class="hero hero--section hero--great-russia">
    <div class="hero__container container">
        <div class="hero__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    Великая Россия
                </li>
            </ul>
        </div>
        <div class="hero__head">
            <div class="hero__picture">
                <picture>
                    <source srcset="/upload/demo/img/great-russia/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/great-russia/hero@0.5x.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/great-russia/hero.webp" type="image/webp">
                    <img class="hero__logo-image img" src="/upload/demo/img/great-russia/hero.png" width="1920" height="920" alt="Коллекция Великая Россия">
                </picture>
            </div>
        </div>
    </div>
</section>