<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    Гастропаб Александра Раппопорта «Бибирево»
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">Гастропаб Александра Раппопорта «Бибирево»</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2024-07-18">18 июля 2024</time>
            <div class="news-details__text text">
                <div class="news_custom theses theses--great-russia">
                    <div class="theses__hero">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/great-russia/hero.png" width="1920" height="920" alt="Коллекция Великая Россия">
                            </picture>
                        </div>
                        <div class="theses__content content content--center">
                            <div class="theses__blockquote blockquote">
                                <blockquote class="blockquote__text">«Память предков — это та нить, что связывает нас с прошлым, дает силы в настоящем и указывает путь в будущее. „ВЕЛИКАЯ РОССИЯ“ — это наш способ выразить благодарность героям истории и сохранить их подвиги в каждом изделии.»</blockquote>
                                <cite class="blockquote__author">Команда бренда</cite>
                            </div>
                            <p class="theses__text theses__text--short">ANTE KOVAC представляет коллекцию «ВЕЛИКАЯ РОССИЯ» — элегантную дань уважения к героям российской истории. Вдохновленная монументальностью архитектурных шедевров, пронизанная символизмом и гордостью.<br>
                                «ВЕЛИКАЯ РОССИЯ» — это не просто аксессуары, это напоминание о величии, стойкости и неразрывной связи с прошлым.
                            </p>
                            <a href="/catalog/velikaya-rossiya/" class="theses__button button button--outline">
                                <span class="button__text">Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <div class="theses__picture theses__picture--main">
                        <picture>
                            <source srcset="/upload/demo/img/great-russia/img-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/great-russia/img-01@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/great-russia/img-01.webp" type="image/webp">
                            <img class="theses__image img" width="1800" height="818" src="/upload/demo/img/great-russia/img-01.jpg" alt="Россия">
                        </picture>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__content content">
                            <h2 class="theses__title title">С уважением к истории</h2>
                            <p class="theses__text">
                                Бренд ANTE KOVAC создал коллекцию «ВЕЛИКАЯ РОССИЯ» в дань памяти, уважения и благодарности тем, кто всегда оставался непоколебим перед суровым лицом беспощадных обстоятельств, сохраняя силу, отважность и достоинство, которые команда Бренда интерпретировала через монументальность архитектурных шедевров России в кожгалантерейные изделия.
                            </p>
                        </div>
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-02.webp" type="image/webp">
                                <img class="theses__image img" width="963" height="777" src="/upload/demo/img/great-russia/img-02.jpg" alt="Россия">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__row">
                        <div class="theses__picture theses__picture--medium">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-02-small@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-02-small@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-02-small.webp" type="image/webp">
                                <img class="theses__image img" width="375" height="539" src="/upload/demo/img/great-russia/img-02-small.jpg" alt="Кошелек">
                            </picture>
                        </div>
                        <div class="theses__picture theses__picture--medium">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-03-small@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-03-small@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-03-small.webp" type="image/webp">
                                <img class="theses__image img" width="530" height="378" src="/upload/demo/img/great-russia/img-03-small.jpg" alt="Кошелек">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-03@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-03.webp" type="image/webp">
                                <img class="theses__image img" width="777" height="960" src="/upload/demo/img/great-russia/img-03.jpg" alt="Россия">
                            </picture>
                        </div>
                        <div class="theses__content content">
                            <p class="theses__text">
                                Данная коллекция это не просто аксессуары для карманов и сумок,
                                это символы нашей истории, нашей гордости. В каждой вещи из этой коллекции есть связь с наследием и триумфальными победами, благодаря которым мы сейчас все существуем. «ВЕЛИКАЯ РОССИЯ» — это не только
                                про красоту и удобство, но и про нашу безграничную связь с прошлым.
                            </p>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__content content">
                            <h2 class="theses__title title">Воплощение Гордости и Памяти</h2>
                        </div>
                        <div class="theses__content content">
                            <p class="theses__text">
                                Херсонесский колокол — не просто исторический артефакт, а символ Крыма, неотделимый от его многовековой истории. Его звон, эхом отзывавшийся
                                в степях и бухтах, напоминает о героическом прошлом и о неразрывной связи с Россией. Именно поэтому мы включили его образ в коллекцию «ВЕЛИКАЯ РОССИЯ», стремясь передать эту же силу духа и гордость за свою землю в каждом аксессуаре. </p>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__column">
                            <div class="theses__picture theses__picture--medium">
                                <picture>
                                    <source srcset="/upload/demo/img/great-russia/img-04-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/great-russia/img-04-01@0.5x.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/great-russia/img-04-01.webp" type="image/webp">
                                    <img class="theses__image img" width="324" height="503" src="/upload/demo/img/great-russia/img-04-01.jpg" alt="Кошелек">
                                </picture>
                            </div>
                            <div class="theses__picture theses__picture--medium">
                                <picture>
                                    <source srcset="/upload/demo/img/great-russia/img-04-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/great-russia/img-04-02@0.5x.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/great-russia/img-04-02.webp" type="image/webp">
                                    <img class="theses__image img" width="340" height="525" src="/upload/demo/img/great-russia/img-04-02.jpg" alt="Кошелек">
                                </picture>
                            </div>
                            <div class="theses__picture theses__picture--medium">
                                <picture>
                                    <source srcset="/upload/demo/img/great-russia/img-04-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/great-russia/img-04-03@0.5x.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/great-russia/img-04-03.webp" type="image/webp">
                                    <img class="theses__image img" width="333" height="544" src="/upload/demo/img/great-russia/img-04-03.jpg" alt="Кошелек">
                                </picture>
                            </div>
                        </div>
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-04@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-04.webp" type="image/webp">
                                <img class="theses__image img" width="1152" height="1965" src="/upload/demo/img/great-russia/img-04.jpg" alt="Кошелек">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-05@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-05@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-05.webp" type="image/webp">
                                <img class="theses__image img" width="872" height="494" src="/upload/demo/img/great-russia/img-05.jpg" alt="Кошелек">
                            </picture>
                        </div>
                        <div class="theses__content content">
                            <p class="theses__text">
                                Храм Василия Блаженного, с его яркими куполами и сложной архитектурой,
                                — это не просто храм, а целое архитектурное чудо, воплощающее в себе мощь и красоту русского зодчества. Собор, состоящий из одиннадцати церквей, украшен настенными росписями, иконами и произведениями церковно-прикладного искусства. Коллекция «ВЕЛИКАЯ РОССИЯ», вдохновленная
                                этим шедевром, стремится отразить его многогранность и красоту в каждой детали.
                            </p>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__content content">
                            <p class="theses__text">
                                Большая императорская корона Российской империи — это вершина ювелирного искусства, символ богатства и великолепия императорского двора. Созданная для коронации Екатерины II, она сияет бриллиантами
                                и жемчугом, воплощая в себе роскошь и мастерство. Она символизировала преемственность власти и величие Российской империи на протяжении многих веков. В коллекции «ВЕЛИКАЯ РОССИЯ» мы отдали дань уважения
                                этой истории, создавая изделия, которые будут напоминать о величии
                                и значимости нашей страны.
                            </p>
                        </div>
                        <div class="theses__picture grid-tablet-top">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-06@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-06@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-06.webp" type="image/webp">
                                <img class="theses__image img" width="872" height="494" src="/upload/demo/img/great-russia/img-06.jpg" alt="Кошелек">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-07@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-07@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-07.webp" type="image/webp">
                                <img class="theses__image img" width="939" height="736" src="/upload/demo/img/great-russia/img-07.jpg" alt="Кошелек">
                            </picture>
                        </div>
                        <div class="theses__content content">
                            <p class="theses__text">
                                Памятник затопленным кораблям в Севастополе — один из самых узнаваемых символов России, воплощающий в себе силу духа и верность Родине. Этот монумент, посвященный героям Крымской войны, нашел свое отражение в коллекции «ВЕЛИКАЯ РОССИЯ». Мы вдохновлялись его монументальностью и драматизмом, стремясь передать ощущение героизма и стойкости в дизайне наших изделий.
                            </p>
                        </div>
                    </div>
                    <div class="theses__row">
                        <div class="theses__picture theses__picture--small">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-07-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-07-01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-07-01.webp" type="image/webp">
                                <img class="theses__image img" width="455" height="281" src="/upload/demo/img/great-russia/img-07-01.jpg" alt="Кошелек">
                            </picture>
                        </div>
                        <div class="theses__picture theses__picture--small">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-07-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-07-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-07-02.webp" type="image/webp">
                                <img class="theses__image img" width="455" height="272" src="/upload/demo/img/great-russia/img-07-02.jpg" alt="Кошелек">
                            </picture>
                        </div>
                        <div class="theses__picture theses__picture--small">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-07-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-07-03@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-07-03.webp" type="image/webp">
                                <img class="theses__image img" width="460" height="285" src="/upload/demo/img/great-russia/img-07-03.jpg" alt="Кошелек">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__content content">
                            <p class="theses__text">
                                Пусть каждый аксессуар из коллекции «ВЕЛИКАЯ РОССИЯ» станет Вашим личным знаком отличия, символом элегантности, благородства и глубокого уважения к своей стране. Позвольте себе прикоснуться к этой утонченной красоте и почувствовать себя частью великой истории.
                            </p>
                            <a href="/catalog/velikaya-rossiya/" class="theses__button button button--outline">
                                <span class="button__text">Подробнее</span>
                            </a>
                        </div>
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/great-russia/img-08@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/great-russia/img-08@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/great-russia/img-08.webp" type="image/webp">
                                <img class="theses__image img" width="684" height="910" src="/upload/demo/img/great-russia/img-08.jpg" alt="Кошелек">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>