<section class="hero-about">
    <div class="hero-about__container container">
        <div class="hero-about__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    О нас
                </li>
            </ul>
        </div>
        <div class="hero-about__head">
            <div class="hero-about__play play">
                <video class="play__video" preload="false" width="1920" height="900" poster="" playsinline="playsinline" loop="loop" muted="muted">
<!--                    <source data-desktop-src="/upload/demo/video/about_v2/hero.webm" data-mobile-src="/upload/demo/video/about_v2/hero_mobile.webm" type="video/webm" />-->
                    <source data-desktop-src="/upload/demo/video/about_v2/hero.mp4" data-mobile-src="/upload/demo/video/about_v2/hero_mobile.mp4" type="video/mp4" />
                </video>
                <button class="play__button btn-reset" type="button" class="btn-reset"></button>
            </div>
            <div class="hero-about__logo">
                <picture>
                    <source srcset="/upload/demo/img/about_v2/ante_kovac.webp" type="image/webp">
                    <img class="hero-about__logo-image img" src="/upload/demo/img/about_v2/ante_kovac.png" width="610" height="104" alt="ANTE KOVAC">
                </picture>
            </div>
            <p class="hero-about__subtitle subtitle">Ты и есть искусство</p>
        </div>
    </div>
</section>