<section class="hero-about">
    <div class="hero-about__container container">
        <div class="hero-about__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    О нас
                </li>
            </ul>
        </div>
        <div class="hero-about__head">
            <div class="hero-about__logo">
                <picture>
                    <source srcset="/upload/demo/img/about_v2/ante_kovac.webp" type="image/webp">
                    <img class="hero-about__logo-image img" src="/upload/demo/img/about_v2/ante_kovac.png" width="610" height="104" alt="ANTE KOVAC">
                </picture>
            </div>
            <p class="hero-about__subtitle subtitle">Ты и есть искусство</p>
        </div>
    </div>
</section>