<section class="theses">
    <div class="theses__container container">
        <div class="theses__grid">
            <div class="theses__play play">
                <video class="play__video" preload="false" width="900" height="900" poster="/upload/demo/img/about_v2/video_poster_02.jpg" playsinline="playsinline" loop="loop" muted="muted">
<!--                    <source data-desktop-src="/upload/demo/video/about_v2/atelier.webm" data-mobile-src="/upload/demo/video/about_v2/atelier_mobile.webm" type="video/webm" />-->
                    <source data-desktop-src="/upload/demo/video/about_v2/atelier.mp4" data-mobile-src="/upload/demo/video/about_v2/atelier_mobile.mp4" type="video/mp4" />
                </video>
                <button class="play__button btn-reset" type="button" class="btn-reset"></button>
            </div>
            <div class="theses__content content grid-tablet-top">
                <h2 class="theses__title title">Ателье</h2>
                <p class="theses__text">У Дома моды есть услуга «Ателье», благодаря которой, можно создать изделие под себя, такая вещь будет
                    в единичном экземпляре- одна на весь мир!</p>
                <a href="/atelier/" class="theses__button button button--outline">
                    <span class="button__text">Подробнее</span>
                </a>
            </div>
        </div>
        <blockquote class="theses__blockquote blockquote">«Я убеждена, что настоящая роскошь рождается из союза мастерства и неповторимости!»</blockquote>
        <div class="theses__content theses__content--mission content">
            <h2 class="theses__title title">Миссия бренда</h2>
            <p class="theses__text">Дарить искусство в каждой детали, пробуждая любовь к эстетике и утонченности.</p>
            <p class="theses__text">Вдохновлять к выражению своей индивидуальности через призму искусства, стиля и моды.</p>
        </div>
    </div>
</section>