<section class="theses">
    <div class="theses__container container">
        <div class="theses__hero">
            <div class="theses__author">
                <p class="theses__name">Надежда Хафизова</p>
                <picture>
                    <source srcset="/upload/demo/img/about_v2/author_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v2/author_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v2/author.webp" type="image/webp">
                    <img class="theses__image img" width="835" height="1018" src="/upload/demo/img/about_v2/author.jpg" alt="Фото">
                </picture>
                <h1 class="theses__title title">
                    Основательница бренда
                </h1>
            </div>
            <div class="theses__content content">
                <p class="theses__text">Я основательница группы компаний: Barinoff, Effecto-Perfecto, Richard&Raul.<br>
                    С 2006 года мы перерабатываем фрукты, ягоды, овощи, производим соки, пюре, сиропы под торговой маркой «Barinoff». Мы лидеры в своей категории.<br>
                    В 2011 году запущено производство бытовых, дезинфицирующих и моющих средств под ТМ EFFECTO PERFECTO, которое успешно растет!
                </p>
                <a href="https://barinof.ru/?ysclid=m9qsx98zhp180572667" class="theses__button button button--outline">
                    <span class="button__text">Подробнее</span>
                </a>
            </div>
        </div>
        <div class="theses__grid">
            <div class="theses__content content">
                <p class="theses__text">В 2021 году мною был создан Дом моды RICHARD&RAUL, названный в честь моих детей, который включает в себя бренды: аксессуаров ANTE KOVAC, уходовой косметики ANTE KOVAC Cosmetics, спортивного белья ТАЮ.<br>
                    Все товары этих брендов вы можете увидеть в каталоге.
                </p>
                <a href="/catalog/women/" class="theses__button button button--outline">
                    <span class="button__text">Подробнее</span>
                </a>
            </div>
            <div class="theses__picture grid-tablet-top">
                <picture>
                    <source srcset="/upload/demo/img/about_v2/about_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v2/about_01_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v2/about_01.webp" type="image/webp">
                    <img class="theses__image img" width="835" height="1018" src="/upload/demo/img/about_v2/about_01.jpg" alt="Ценности">
                </picture>
            </div>
        </div>
        <blockquote class="theses__blockquote blockquote">«Меня очень вдохновила идея синергии моих бизнесов. Идея заключается в том, чтобы задействовать все органы чувств. Чтобы было не только вкусно, чисто,
            но и красиво. Для меня это еще и возможность воплотить в реальность мою детскую мечту».</blockquote>
        <div class="theses__picture theses__picture--main">
            <picture>
                <source srcset="/upload/demo/img/about_v2/about_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v2/about_02_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v2/about_02.webp" type="image/webp">
                <img class="theses__image img" width="1800" height="818" src="/upload/demo/img/about_v2/about_02.jpg" alt="Ценности">
            </picture>
        </div>
        <div class="theses__grid">
            <div class="theses__content content">
                <h2 class="theses__title title">Предвосхищая будущее, храня прошлое.</h2>
                <p class="theses__text">В 2022 году Дом моды RICHARD&RAUL приобрел бренд ANTE KOVAC. На сегодняшний день бренд ANTE KOVAC — это Российский успешный премиальный бренд с 18-летней историей.<br>
                    В основу создания бренда заложена идея сохранить традиции кожевенного мастерства. Бренд объединил талантливых мастеров своего дела. Каждый из которых, работает исключительно вручную, не считаю часов. Работа строится на вдохновении этих талантливых людей.</p>
                <p class="theses__text">Мы гордимся тем, что первый саквояж в Москве был изготовлен именно руками мастеров ANTE KOVAC. Отразивший в себе эпоху, но не лишенный шарма «Sac à voyage», что в переводе означает «дорожная сумка» — аксессуар вне времени. Атрибут, дополняющий образ делового и стильного человека. Саквояж стал фирменным аксессуаром нашего бренда!<br>
                    Наши мастера используют филигранные техники, многие из которых, уже утеряны в век современных технологий. Мы хотим сохранить для будущих поколений нашу историю, наше наследие, ведь приобретая такой уникальный аксессуар, Вы сохраните частичку истории ее создания.
                </p>
            </div>
            <div class="theses__picture">
                <picture>
                    <source srcset="/upload/demo/img/about_v2/about_03_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v2/about_03_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v2/about_03.webp" type="image/webp">
                    <img class="theses__image img" width="835" height="1018" src="/upload/demo/img/about_v2/about_03.jpg" alt="Ценности">
                </picture>
            </div>
        </div>
        <div class="theses__grid theses__grid--plus">
            <div class="theses__picture">
                <picture>
                    <source srcset="/upload/demo/img/about_v2/about_04_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v2/about_04_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v2/about_04.webp" type="image/webp">
                    <img class="theses__image img" width="910" height="1180" src="/upload/demo/img/about_v2/about_04.jpg" alt="Ценности">
                </picture>
            </div>
            <div class="theses__content content grid-tablet-top">
                <p class="theses__text">Одной из первых коллекций стала «Славянка». Мастера бренда переосмыслили в своей айдентике русский культурный код наследия. Своей уникальностью бренд притягивал к себе талантливых людей, таких как Никас Сафронов, Борис Индриков, Владимир Гвоздев, путешественника и телеведущего Тимофей Баженов, и многих других знаменитых деятелей культуры и искусства. Амбассадором коллекции «Хронос» был народный артист России Евгений Владимирович Князев.</p>
                <p class="theses__text">Название бренда означает: слово «ANTE» — с латинского «до», «перед тем как», что говорит о том, что бренд опережает время и при этом сохраняет традиции. Бренд словно на шаг впереди, задает тренд на уникальность и историю.</p>
            </div>
            <div class="theses__content content">
                <h2 class="theses__title title">ДНК ANTE KOVAC</h2>
                <p class="theses__text">Художественное мировое наследие. </p>
                <p class="theses__text">Отображая современными средствами художественной выразительности, самобытно синтезируя традиции высокой моды.</p>
            </div>
        </div>
        <div class="theses__grid">
            <div class="theses__content content">
                <p class="theses__text">Мы создаем свои коллекции, с художественной росписью, из натуральной кожи, в том числе и экзотической. Сохраняем уникальные техники кожевенного мастерства, состава своих специальных красок по коже,
                    а также нанесения тиснения и фольгирования.</p>
            </div>
            <div class="theses__picture grid-tablet-top">
                <picture>
                    <source srcset="/upload/demo/img/about_v2/about_05_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v2/about_05_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v2/about_05.webp" type="image/webp">
                    <img class="theses__image img" width="935" height="853" src="/upload/demo/img/about_v2/about_05.jpg" alt="Ценности">
                </picture>
            </div>
        </div>
        <div class="theses__grid">
            <div class="theses__play play">
                <video class="play__video" preload="false" width="900" height="900" poster="/upload/demo/img/about_v2/video_poster_01.jpg" playsinline="playsinline" loop="loop" muted="muted">
                    <source data-desktop-src="/upload/demo/video/about_v2/we_involved.webm" data-mobile-src="/upload/demo/video/about_v2/we_involved_mobile.webm" type="video/webm" />
                    <source data-desktop-src="/upload/demo/video/about_v2/we_involved.mp4" data-mobile-src="/upload/demo/video/about_v2/we_involved_mobile.mp4" type="video/mp4" />
                </video>
                <button class="play__button btn-reset" type="button" class="btn-reset"></button>
            </div>
            <div class="theses__content content">
                <p class="theses__text">Мы участвуем в главных fashion — событиях России: Moscow Fashion Week,
                    St. Petersburg Fashion Week, Sochi Fashion Week, выставка «Антикварный салон»
                    в Гостином дворе, собираем своих ценителей на закрытых показах на Красной Площади в Государственном Универсальном Магазине, делаем коллаборации
                    с известным рестораном Раппопорта.</p>
                <a href="/news/" class="theses__button button button--outline">
                    <span class="button__text">Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</section>