<section class="auth">
    <div class="auth__container container">
        <div class="auth__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    Вход/Регистрация
                </li>
            </ul>
        </div>
        <h1 class="auth__title title">Вход/Регистрация</h1>
        <p class="auth__text">Мы отправили код подтверждения на номер <span>+7 (949-33) 4-89-63</span></p>
        <form action="#" class="auth__form form">
            <div class="form__body">
                <label class="form__label label label--clear">
                    <input type="number" name="Код" class="form__input input" placeholder="">
                </label>
            </div>
        </form>
        <nav class="auth__nav">
            <ul class="auth__list list-reset">
                <li class="auth__item auth__item--timeout">
                    <span class="auth__descr">Получить новый код можно через <span class="auth__timer">00:59</span></span>
                    <a href="#" class="auth__link">Получить новый код</a>
                </li>
                <li class="auth__item">
                    Не удалось войти по смс? <a href="#" class="auth__link">Войти по email</a>
                </li>
            </ul>
        </nav>
    </div>
</section>