<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    Lookbook
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">Lookbook</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2025-06-11">11 июня 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--lookbook">
                    <div class="theses__hero">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/lookbook/hero.png" width="1386" height="649" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__content content content--center">
                            <p class="theses__text theses__text--short">Погрузитесь в роскошь летних дней с Ante Kovac, вдохновленной утонченной элегантностью усадебных пейзажей.
                            </p>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_01.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_01.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_02.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_02.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture theses__picture--main">
                        <picture>
                            <source srcset="/upload/demo/img/lookbook/image_03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/lookbook/image_03@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/lookbook/image_03.webp" type="image/webp">
                            <img class="theses__image img" width="1266" height="1688" src="/upload/demo/img/lookbook/image_03.jpg" alt="Lookbook">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Эксклюзивная модель сумки #7 выполнена из высококачественной натуральной замши, с подкладкой из натуральной кожи. В оформлении использован фрагмент картины Леонардо да Винчи «Мадонна Литта», символизирующей материнскую любовь и нежность.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-7-madonna/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_04@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_04.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="883" src="/upload/demo/img/lookbook/image_04.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_05@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_05@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_05.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="883" src="/upload/demo/img/lookbook/image_05.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture theses__picture--main theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/lookbook/image_06@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/lookbook/image_06@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/lookbook/image_06.webp" type="image/webp">
                            <img class="theses__image img" width="1386" height="2004" src="/upload/demo/img/lookbook/image_06.jpg" alt="Lookbook">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Гладкая кожа холодного лазурного цвета напоминает море в работах художника, а изогнутые ручки визуально перекликаются с формой лодок на его картинах. Минималистичная конструкция и насыщенный цвет делают сумку эффектным акцентом гардероба.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-7-lodki-van-goga/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_07@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_07@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_07.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="1106" src="/upload/demo/img/lookbook/image_07.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_08@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_08@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_08.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="1106" src="/upload/demo/img/lookbook/image_08.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture theses__picture--main theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/lookbook/image_09@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/lookbook/image_09@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/lookbook/image_09.webp" type="image/webp">
                            <img class="theses__image img" width="1386" height="1042" src="/upload/demo/img/lookbook/image_09.jpg" alt="Lookbook">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Минимум внешних жестов — максимум в работе с формой и материалом. Сумка Baguette в тёмно-коричневом исполнении предлагает лаконичное решение для тех, кто ценит структуру, а не декорацию.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-baguette-v-korichnevom/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_10@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_10@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_10.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_10.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_11@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_11@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_11.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_11.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Сумка Ellips с анималистичным принтом в тёмных тонах изготовлена из натуральной кожи. Оттенки чёрного и графитового создают сложную глубину цвета. Идеальна для тех, кто предпочитает нестандартную классику.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-ellips-safari-1/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_12@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_12@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_12.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_12.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_13@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_13@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_13.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_13.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Сдержанная, но выразительная, модель в классическом чёрном цвете с вставкой из кожи питона. Элегантная фурнитура и лаконичный силуэт придают аксессуару интеллектуальную строгость, достойную имени великого мастера эпохи Возрождения.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-7-da-vinchi-v-chyernom/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_14@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_14@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_14.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_14.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_15@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_15@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_15.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_15.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Статусная кожаная сумка является необходимым аксессуаром деловой женщины. Стиль этого изделия создают вставка из натуральной кожи питона, глубокий бордо.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-7-piton-v-bordo/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__picture theses__picture--main theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/lookbook/image_16@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/lookbook/image_16@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/lookbook/image_16.webp" type="image/webp">
                            <img class="theses__image img" width="1386" height="1848" src="/upload/demo/img/lookbook/image_16.jpg" alt="Lookbook">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Мюли «Ирисы. Ван Гог», арт-объект, вдохновленный культовой картиной. Авторская роспись, переносящая дух Ван Гога, и легкое плетение — воплощение стиля и комфорта. Идеальный выбор для тех, кто ценит искусство и свободу движения
                        </p>
                        <a href="/catalog/women/ante-kovac/obuv/myuli-irisy-van-gog/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_17@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_17@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_17.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="928" src="/upload/demo/img/lookbook/image_17.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_18@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_18@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_18.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="928" src="/upload/demo/img/lookbook/image_18.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Вдохновение, рожденное в Японии. Эксклюзивная работа дизайнеров ANTE KOVAC, названная в честь загадочной формы, напоминающей своды старинного японского замка. Уникальность в каждой детали.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/klatchi/klatch-nidzye-irisy-van-goga-v-chyernom/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_19@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_19@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_19.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_19.jpg" alt="Lookbook">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/lookbook/image_20@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/lookbook/image_20@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/lookbook/image_20.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="826" src="/upload/demo/img/lookbook/image_20.jpg" alt="Lookbook">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text theses__text--short">
                            Сумка-эллипс. Бордовый акцент — квинтэссенция стиля. Эта модель — воплощение индивидуальности, смелого дизайна и ручной работы. Корпус, украшенный авторской росписью, обрамлен кожей глубокого бордового оттенка, создавая яркий и запоминающийся образ. Для тех, кто не боится заявить о себе.
                        </p>
                        <a href="/catalog/women/ante-kovac/symki/sumki2/sumka-ellips-probuzhdenie-adonisa/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__picture theses__picture--main theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/lookbook/image_21@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/lookbook/image_21@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/lookbook/image_21.webp" type="image/webp">
                            <img class="theses__image img" width="1386" height="1039" src="/upload/demo/img/lookbook/image_21.jpg" alt="Lookbook">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>