<section class="collections">
    <div class="collections__container">
        <a href="#" class="collections__button button button--blur">Коллекция 2024</a>
        <div class="collections__swiper collections__swiper--about swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="./img/about/collections-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/about/collections-01-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/about/collections-01.webp" type="image/webp">
                            <img class="swiper__image img" width="960" height="900" src="./img/about/collections-01.png" alt="collections">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="./img/about/collections-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/about/collections-02-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/about/collections-02.webp" type="image/webp">
                            <img class="swiper__image img" width="960" height="900" src="./img/about/collections-02.png" alt="collections">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="./img/about/collections-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/about/collections-01-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/about/collections-01.webp" type="image/webp">
                            <img class="swiper__image img" width="960" height="900" src="./img/about/collections-01.png" alt="collections">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="./img/about/collections-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/about/collections-02-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/about/collections-02.webp" type="image/webp">
                            <img class="swiper__image img" width="960" height="900" src="./img/about/collections-02.png" alt="collections">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="./img/about/collections-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/about/collections-01-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/about/collections-01.webp" type="image/webp">
                            <img class="swiper__image img" width="960" height="900" src="./img/about/collections-01.png" alt="collections">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="./img/about/collections-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/about/collections-02-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/about/collections-02.webp" type="image/webp">
                            <img class="swiper__image img" width="960" height="900" src="./img/about/collections-02.png" alt="collections">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>