<section class="theses">
    <div class="theses__container container">
        <h2 class="theses__title title title--h2">Основатель Дома моды RICH&RAUL говорит, что бренд создают люди — команда!</h2>
        <p class="theses__subtitle subtitle">Поэтому ценности Дома моды RICH&RAUL строятся на понятных и просты тезисах:</p>
        <ul class="theses__list list-reset">
            <li class="theses__item">
                <div class="theses__count">
                    <picture>
                        <source srcset="./img/about/num-01.webp" type="image/webp" />
                        <img class="theses__image img" width="130" height="200" src="./img/about/num-01.png" alt="1" />
                    </picture>
                </div>
                <div class="theses__content">
                    <h3 class="theses__caption">Командный дух</h3>
                    <p class="theses__text text">Мы приходим на работу с удовольствием. Во многом это зависит от того, с кем мы реализовываем идеи. Мы считаем, что важно открыто обсуждать все рабочие моменты</p>
                </div>
            </li>
            <li class="theses__item">
                <div class="theses__count">
                    <picture>
                        <source srcset="./img/about/num-02.webp" type="image/webp" />
                        <img class="theses__image img" width="142" height="200" src="./img/about/num-02.png" alt="2" />
                    </picture>
                </div>
                <div class="theses__content">
                    <h3 class="theses__caption">Профессионализм</h3>
                    <p class="theses__text text">Мы здраво мыслим. Мы верим не в должностные инструкции, а в компетентности коллег. Мы готовы пробовать новое, ошибаться, делать выводы и идти дальше</p>
                </div>
            </li>
            <li class="theses__item">
                <div class="theses__count">
                    <picture>
                        <source srcset="./img/about/num-03.webp" type="image/webp" />
                        <img class="theses__image img" width="138" height="200" src="./img/about/num-03.png" alt="3" />
                    </picture>
                </div>
                <div class="theses__content">
                    <h3 class="theses__caption">Порядочность</h3>
                    <p class="theses__text text">Мы доверяем тем, с кем работаем и для кого создаём</p>
                </div>
            </li>
            <li class="theses__item">
                <div class="theses__count">
                    <picture>
                        <source srcset="./img/about/num-04.webp" type="image/webp" />
                        <img class="theses__image img" width="160" height="200" src="./img/about/num-04.png" alt="4" />
                    </picture>
                </div>
                <div class="theses__content">
                    <h3 class="theses__caption">Любовь</h3>
                    <p class="theses__text text">Мы Любим свой продукт. Любим своих клиентов</p>
                </div>
            </li>
            <li class="theses__item">
                <div class="theses__count">
                    <picture>
                        <source srcset="./img/about/num-05.webp" type="image/webp" />
                        <img class="theses__image img" width="140" height="200" src="./img/about/num-05.png" alt="5" />
                    </picture>
                </div>
                <div class="theses__content">
                    <h3 class="theses__caption">Быть нужным</h3>
                    <p class="theses__text text">Зачем мы работаем? Мы встречаемся с гардеробом и с вопросом выбора образа каждый день. И мы хотим, чтобы эта встреча приносила нашим клиентам положительные эмоции</p>
                </div>
            </li>
        </ul>
    </div>
</section>