<section class="why">
    <div class="why__container container">
        <div class="why__picture">
            <picture>
                <source srcset="./img/about/why-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="./img/about/why-01-mobile.png" media="(max-width: 768px)">
                <source srcset="./img/about/why-01.webp" type="image/webp">
                <img class="why__image img" width="420" height="500" src="./img/about/why-01.png" alt="why">
            </picture>
        </div>
        <div class="why__content">
            <h2 class="why__title title title--h2">Зачем мы&nbsp;работаем?</h2>
            <p class="why__subtitle">Мы&nbsp;встречаемся с&nbsp;гардеробом и&nbsp;с&nbsp;вопросом выбора образа каждый день. И&nbsp;мы&nbsp;хотим, чтобы эта встреча приносила нашим клиентам положительные эмоции</p>
            <p class="why__text text">ANTE KOVAC&nbsp;— российский бренд концептуальных сумок и&nbsp;аксессуаров ручной работы, это&nbsp;— уникальные арт-объекты, применимые в&nbsp;повседневной жизни, обладание которыми способствует самовыражению в&nbsp;обход шаблонных стереотипов. Каждое изделие расписывается художником вручную, мастера вкладывают всю свою душу, а&nbsp;вещь сохраняет теплоту творческих&nbsp;рук. Идеология стиля Ante Kovac основывается на&nbsp;сочетании современных незаурядных форм с&nbsp;неповторимым художественным изыском. Это бренд для&nbsp;тех, кто любит себя, ценит свою индивидуальность и&nbsp;открыт к&nbsp;искусству жизни.</p>
        </div>
        <div class="why__picture">
            <picture>
                <source srcset="./img/about/why-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="./img/about/why-02-mobile.png" media="(max-width: 768px)">
                <source srcset="./img/about/why-02.webp" type="image/webp">
                <img class="why__image img" width="420" height="500" src="./img/about/why-02.png" alt="why">
            </picture>
        </div>
    </div>
</section>