<section class="about-section">
    <div class="about-section__container container">
        <p class="about-section__lead">Надежда Хафизова&nbsp;— предпринимательница с&nbsp;более чем 20-летним опытом в&nbsp;бизнесе, владелица группы компаний Barinoff и&nbsp;Effecto-Perfecto. В&nbsp;2021 году она основала модный дом RICH& RAUL, названный в&nbsp;честь ее&nbsp;детей. В&nbsp;том&nbsp;же году в&nbsp;состав модного дома вошел бренд сумок и&nbsp;аксессуаров ANTE KOVAĆ. Управленческий опыт Надежды Хафизовой, инвестиции в&nbsp;производство и&nbsp;команду позволили вдохнуть в&nbsp;ANTE KOVAĆ новую жизнь и&nbsp;вывести его на&nbsp;принципиально новый уровень. От&nbsp;ремесленной мастерской&nbsp;— к&nbsp;бренду класса люкс, сочетающему редкие ремесленные техники с&nbsp;передовыми технологиями.</p>
        <div class="about-section__duo about-section__full">
            <div class="about-section__photo">
                <picture>
                    <source srcset="/upload/demo/img/about_v3/about_column_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v3/about_column_01_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v3/about_column_01.webp" type="image/webp">
                    <img class="about-section__image img" width="935" height="1176" src="/upload/demo/img/about_v3/about_column_01.jpg" loading="lazy" alt="Надежда Хафизова">
                </picture>
            </div>
            <div class="about-section__photo">
                <picture>
                    <source srcset="/upload/demo/img/about_v3/about_column_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v3/about_column_02_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v3/about_column_02.webp" type="image/webp">
                    <img class="about-section__image img" width="784" height="1176" src="/upload/demo/img/about_v3/about_column_02.jpg" loading="lazy" alt="ANTE KOVAC сумка 777">
                </picture>
            </div>
        </div>
        <h2 class="about-section__title">Слово генерального директора Об&nbsp;истории покупки ANTE KOVАС</h2>
        <p class="about-section__text">Долгое время я&nbsp;была преданной клиенткой бренда&nbsp;— познакомилась с&nbsp;ним много лет назад, когда искала себе что-то необычное. Увидела сумку 777&nbsp;— влюбилась с&nbsp;первого взгляда. Носила ее&nbsp;каждый день: она была моей счастливой сумкой, мне постоянно делали комплименты. Со&nbsp;временем у&nbsp;меня собралась целая коллекция аксессуаров бренда&nbsp;— я&nbsp;возвращалась за&nbsp;новыми моделями, как&nbsp;и&nbsp;многие другие наши клиенты.</p>
        <div class="about-section__photo-center">
            <picture>
                <source srcset="/upload/demo/img/about_v3/about_single_03_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v3/about_single_03_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v3/about_single_03.webp" type="image/webp">
                <img class="about-section__image img" width="534" height="652" src="/upload/demo/img/about_v3/about_single_03.jpg" loading="lazy" alt="Сумка">
            </picture>
        </div>
        <p class="about-section__text">Когда появилась возможность купить бренд, я&nbsp;решила применить свою экспертизу в&nbsp;бизнесе для&nbsp;того, чтобы сохранить и&nbsp;приумножить его наследие.</p>
        <h2 class="about-section__title">О&nbsp;принципах работы</h2>
        <p class="about-section__text">Залог успеха&nbsp;— это люди. При&nbsp;покупке бренда я&nbsp;настояла на&nbsp;том, чтобы в&nbsp;нашу компанию перешла команда, модельеры и&nbsp;мастера&nbsp;— для&nbsp;меня было важно сохранить редких профессионалов, которые создавали бренд раньше.</p>
        <p class="about-section__text">Некоторые сотрудники к&nbsp;тому времени сменили работу, мы&nbsp;их&nbsp;возвращали. Сейчас продолжаем точечно искать на&nbsp;рынке специалистов с&nbsp;редкой квалификацией, бренд расширяется и&nbsp;растет. Команда увеличилась с&nbsp;15 до&nbsp;50 человек.</p>
        <div class="about-section__fullbleed">
            <picture>
                <source srcset="/upload/demo/img/about_v3/about_full_04_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v3/about_full_04_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v3/about_full_04.webp" type="image/webp">
                <img class="about-section__image img" width="1920" height="900" src="/upload/demo/img/about_v3/about_full_04.jpg" loading="lazy" alt="О производстве ANTE KOVAC">
            </picture>
        </div>
        <p class="about-section__text">В&nbsp;конце 2021 года, до&nbsp;введения санкций, мы&nbsp;успели купить передовое немецкое и&nbsp;итальянское оборудование, многих станков нет больше ни&nbsp;у&nbsp;кого в&nbsp;России. С&nbsp;нуля построили производственные цеха в&nbsp;Подмосковье.</p>
        <p class="about-section__text">Запустили линию обуви&nbsp;— как&nbsp;логичное продолжение истории с&nbsp;сумками. В&nbsp;какой-то момент я&nbsp;не&nbsp;нашла в&nbsp;продаже туфли любимого бренда, и&nbsp;мне захотелось сделать обувь под&nbsp;стать нашим сумкам&nbsp;— красивую, необычную и&nbsp;удобную, в&nbsp;которой можно комфортно чувствовать себя целый день.</p>
        <p class="about-section__text">Мы&nbsp;автоматизируем процессы, но&nbsp;наши модели по-прежнему создаются вручную на&nbsp;всех этапах, над каждым изделием работают несколько мастеров. Мы&nbsp;используем лучшие материалы, а&nbsp;каждый образец тестируем в&nbsp;течение нескольких месяцев перед запуском в&nbsp;производство.</p>
        <div class="about-section__fullbleed">
            <picture>
                <source srcset="/upload/demo/img/about_v3/about_full_05_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v3/about_full_05_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v3/about_full_05.webp" type="image/webp">
                <img class="about-section__image img" width="1920" height="900" src="/upload/demo/img/about_v3/about_full_05.jpg" loading="lazy" alt="О ДНК бренда, наследии и русском коде">
            </picture>
        </div>
        <p class="about-section__text">ANTE KOVAĆ с&nbsp;самого начала был неразрывно связан с&nbsp;искусством. Каждая сумка интерпретировала работы великих художников либо была настоящим арт-объектом сама по&nbsp;себе. За&nbsp;все время существования бренда было создано около 300 моделей&nbsp;— мы&nbsp;их&nbsp;каталогизировали, описали, создали архив, к&nbsp;которому удобно обращаться при&nbsp;новых разработках.</p>
        <p class="about-section__text">Первая коллекция возрожденного бренда под&nbsp;названием «Империя искусства» стала своеобразным подведением итогов. А&nbsp;потом мы&nbsp;с&nbsp;командой поняли, что, при&nbsp;всей любви к&nbsp;мировому искусству, нам важно говорить о&nbsp;своем наследии. Мы&nbsp;участвовали в&nbsp;отраслевой выставке в&nbsp;Шанхае, местные ритейлеры очень заинтересовались нашими сумками, но, узнав, что мы&nbsp;из&nbsp;России, задали вопрос: «А&nbsp;почему Ван&nbsp;Гог? Где русский код, сказки, балет „Щелкунчик“?</p>
        <p class="about-section__text">Вернувшись, мы&nbsp;стали думать о&nbsp;русском коде, в&nbsp;чем он&nbsp;заключается для&nbsp;нас: так появилась коллекция «Сказки», вдохновленная русским иллюстратором Иваном Яковлевичем Билибиным. Сказки с&nbsp;его иллюстрациями&nbsp;— это наш национальный код, и&nbsp;теплое, любимое воспоминание из&nbsp;детства.</p>
        <div class="about-section__duo">
            <div class="about-section__photo">
                <picture>
                    <source srcset="/upload/demo/img/about_v3/about_column_06_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v3/about_column_06_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v3/about_column_06.webp" type="image/webp">
                    <img class="about-section__image img" width="851" height="1207" src="/upload/demo/img/about_v3/about_column_06.jpg" loading="lazy" alt="ANTE KOVAC">
                </picture>
            </div>
            <div class="about-section__photo">
                <picture>
                    <source srcset="/upload/demo/img/about_v3/about_column_07_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_v3/about_column_07_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_v3/about_column_07.webp" type="image/webp">
                    <img class="about-section__image img" width="805" height="1207" src="/upload/demo/img/about_v3/about_column_07.jpg" loading="lazy" alt="ANTE KOVAC сумка">
                </picture>
            </div>
        </div>
        <h2 class="about-section__title">О&nbsp;ценителях бренда и&nbsp;смысле работы</h2>
        <p class="about-section__text">Наши ценители&nbsp;— яркие, творческие, харизматичные люди. Я&nbsp;часто общаюсь с&nbsp;ними сама. Они делятся видеоотзывами без&nbsp;просьбы с&nbsp;нашей стороны, рассказывают, что чувствуют себя особенными и&nbsp;получают комплименты.</p>
        <p class="about-section__text">Например, у&nbsp;нас есть ценитель&nbsp;— директор цирка, его портфель сразу обозначает его творческий статус.</p>
        <p class="about-section__text">Одна девушка купила сумки № 107 с&nbsp;деревянной круглой рамой из&nbsp;«драконьей» коллекции и&nbsp;записала мне аудио: «Где&nbsp;бы я&nbsp;ни&nbsp;была, я&nbsp;в&nbsp;центре внимания. Радуюсь, как&nbsp;ребенок».</p>
        <p class="about-section__text">Ради этих эмоций мы&nbsp;работаем. Наши вещи дают радость и&nbsp;уверенность в&nbsp;себе&nbsp;— это и&nbsp;есть смысл ANTE KOVAĆ.</p>
    </div>
</section>