<section class="about-section">
    <div class="about-section__container container">
        <h2 class="about-section__title">О&nbsp;предпринимательской карьере</h2>
        <p class="about-section__text">Любое направление я&nbsp;делаю от&nbsp;души: с&nbsp;любовью, с&nbsp;погружением и&nbsp;максимальной отдачей. Модный дом RICH&RAUL для&nbsp;меня&nbsp;— еще и&nbsp;возможность проявить творческий потенциал и&nbsp;воплотить в&nbsp;жизнь детскую мечту.</p>
        <p class="about-section__text">Я&nbsp;с&nbsp;детства рисовала, лепила, окончила художественную школу с&nbsp;отличием, но&nbsp;отец настоял на&nbsp;том, чтобы я&nbsp;пошла учиться на&nbsp;экономический факультет и&nbsp;финансово встала на&nbsp;ноги. Я&nbsp;получила профессию, создала бизнес, а&nbsp;когда смогла инвестировать в&nbsp;мечту&nbsp;— открыла Дом моды. Папа мной гордится и&nbsp;поддерживает меня во&nbsp;всем.</p>
        <div class="about-section__photo-center">
            <picture>
                <source srcset="/upload/demo/img/about_v3/about_single_08_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v3/about_single_08_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v3/about_single_08.webp" type="image/webp">
                <img class="about-section__image img" width="521" height="109" src="/upload/demo/img/about_v3/about_single_08.jpg" loading="lazy" alt="ANTE KOVAC">
            </picture>
        </div>

        <h2 class="about-section__title">Об&nbsp;отличии фэшн-бизнеса от&nbsp;других</h2>
        <p class="about-section__text">В&nbsp;производстве соков и&nbsp;пюре важно все сделать по&nbsp;ГОСТу, а&nbsp;дальше даже смена этикетки&nbsp;— ответственный шаг, так как&nbsp;потребитель привыкает и&nbsp;расстраивается, когда не&nbsp;узнает продукт на&nbsp;полке магазина с&nbsp;первого взгляда. А&nbsp;в&nbsp;фэшн-бизнесе надо постоянно удивлять, придумывать новое. Но&nbsp;мне это очень нравится. Я&nbsp;даже не&nbsp;ожидала, что бренд захватит меня с&nbsp;головой. Я&nbsp;погружена во&nbsp;все процессы&nbsp;— от&nbsp;покупки оборудования и&nbsp;поездок на&nbsp;отраслевые выставки до&nbsp;разработки новых дизайнов. Часто я&nbsp;просыпаюсь ночью и&nbsp;записываю идеи. Видимо, вся творческая энергия, которая накопилась за&nbsp;годы, теперь нашла выход.</p>
        <div class="about-section__photo-center">
            <picture>
                <source srcset="/upload/demo/img/about_v3/about_single_09_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v3/about_single_09_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v3/about_single_09.webp" type="image/webp">
                <img class="about-section__image img" width="1308" height="872" src="/upload/demo/img/about_v3/about_single_09.jpg" loading="lazy" alt="OK! magazine ANTE KOVAC">
            </picture>
        </div>

        <h2 class="about-section__title">О&nbsp;планах</h2>
        <p class="about-section__text">Сейчас мы&nbsp;обновляем наш флагман на&nbsp;Кутузовском проспекте в&nbsp;Москве: теперь здесь расположится шоурум кутюрного ателье. В&nbsp;уютной атмосфере можно будет ознакомиться со&nbsp;всеми нашими изделиями и&nbsp;кастомизирировать сумку или&nbsp;туфли под&nbsp;себя, либо придумать что-то свое, что наши опытные мастера воплотят в&nbsp;жизнь.</p>
        <p class="about-section__text">Кроме того, мы&nbsp;приобрели здание в&nbsp;классическом стиле с&nbsp;колоколами на&nbsp;Ботаническом Саду. Оно располагается в&nbsp;конторе правления суконной фабрики И.&nbsp;Г.&nbsp;Кожевникова и&nbsp;представляет собой объект культурного наследия. Хочется совместить в&nbsp;нем разные функции, чтобы оно стало настоящим местом силы для&nbsp;наших клиентов.</p>
        <div class="about-section__fullbleed">
            <picture>
                <source srcset="/upload/demo/img/about_v3/about_full_10_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/about_v3/about_full_10_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/about_v3/about_full_10.webp" type="image/webp">
                <img class="about-section__image img" width="1920" height="1038" src="/upload/demo/img/about_v3/about_full_10.jpg" loading="lazy" alt="Шоурум ANTE KOVAC">
            </picture>
        </div>
        <p class="about-section__text">Мы&nbsp;планируем выход на&nbsp;международный рынок&nbsp;— и&nbsp;сейчас регистрируем бренд в&nbsp;ОАЭ и&nbsp;Китае. Во&nbsp;время нашего участия в&nbsp;выставке в&nbsp;Шанхае мы&nbsp;получили предложения от&nbsp;крупной китайской сети продать им&nbsp;лицензию (то&nbsp;есть, они хотели получить наши лекала и&nbsp;производить сумки у&nbsp;себя), но&nbsp;я&nbsp;против такого обесценивания. Я&nbsp;вижу ANTE KOVAĆ именно как&nbsp;бренд на&nbsp;международной арене. Но&nbsp;сначала мы&nbsp;должны занять уверенное положение в&nbsp;России, потом уже выходить за&nbsp;рубеж. Шанхайский опыт показал: нас ждут с&nbsp;культурным кодом России.</p>
    </div>
</section>