<section class="team-profile">
    <div class="team-profile__container container">
        <div class="team-profile__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Аксессуары</a>
                </li>
                <li class="breadcrumbs__item">
                    Команда
                </li>
            </ul>
        </div>
        <h1 class="team-profile__title">Команда</h1>
        <div class="team-profile__hero play">
            <video class="play__video" preload="false" width="1920" height="900" poster="" playsinline="playsinline" loop="loop" muted="muted">
<source data-desktop-src="/upload/demo/video/team/hero.mp4" data-mobile-src="/upload/demo/video/team/hero_mobile.mp4" type="video/mp4" />
            </video>
            <button class="play__button btn-reset" type="button"></button>
        </div>
        <p class="team-profile__intro">За&nbsp;каждой вещью Ante Kovac стоит команда талантливых людей, увлеченных своим делом и&nbsp;разделяющих ценности бренда: мастерство, качество и&nbsp;индивидуальность.</p>
    </div>
</section>