<div class="team-profile__members container">

    <div class="team-profile__member">
        <div class="team-profile__photo team-profile__photo--portrait">
            <picture>
                <source srcset="/upload/demo/img/gendir_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/gendir_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/gendir.webp" type="image/webp">
                <img class="team-profile__image img" width="497" height="745" src="/upload/demo/img/gendir.jpg" alt="Хафизова Надежда">
            </picture>
        </div>
        <div class="team-profile__info">
            <h2 class="team-profile__name">Хафизова Надежда</h2>
            <p class="team-profile__role">Генеральный директор</p>
        </div>
        <div class="team-profile__bio-wrap">
            <p class="team-profile__bio">Надежда&nbsp;— генеральный директор и&nbsp;идейный вдохновитель бренда ANTE KOVAĆ. В&nbsp;2021 году она пришла в&nbsp;индустрию моды, основав модный дом RICH&RAUL, названный в&nbsp;честь её&nbsp;детей. Надежда погружена во&nbsp;все процессы бренда&nbsp;— от&nbsp;покупки оборудования и&nbsp;поездок на&nbsp;отраслевые выставки до&nbsp;разработки новых дизайнов.</p>
            <p class="team-profile__bio">«Я&nbsp;активно участвую во&nbsp;всех процессах и&nbsp;стараюсь вникнуть в&nbsp;каждую деталь. Я&nbsp;погружена в&nbsp;это на&nbsp;все 100, а&nbsp;может даже на&nbsp;1000 процентов! Концепция коллекций исходит от&nbsp;синтеза идей нашей замечательной команды профессионалов. Безусловно, я&nbsp;тоже принимаю участие в&nbsp;этом творческом процессе, но&nbsp;без&nbsp;талантливых сотрудников бренда ничего&nbsp;бы не&nbsp;было».</p>
        </div>
    </div>

    <div class="team-profile__member">
        <div class="team-profile__photo team-profile__photo--full">
            <picture>
                <source srcset="/upload/demo/img/team/zinchenko_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/team/zinchenko_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/team/zinchenko.webp" type="image/webp">
                <img class="team-profile__image img" width="1172" height="934" src="/upload/demo/img/team/zinchenko.jpg" loading="lazy" alt="Дмитрий Зинченко">
            </picture>
        </div>
        <div class="team-profile__info">
            <h2 class="team-profile__name">Дмитрий Зинченко</h2>
            <p class="team-profile__role">Технолог-конструктор</p>
        </div>
        <div class="team-profile__bio-wrap">
            <p class="team-profile__bio">Специалист с&nbsp;15-летним опытом, руководит разработкой изделия&nbsp;— от&nbsp;лекал до&nbsp;готового образца. Ранее занимался организацией производства и&nbsp;оснащением цеха сумок, а&nbsp;сейчас возглавляет экспериментальный&nbsp;цех. В&nbsp;этом цехе мастера-лаборанты отшивают первые опытные образцы новых сумок, портфелей и&nbsp;рюкзаков и&nbsp;создают инструкции для&nbsp;запуска модели в&nbsp;тираж.</p>
            <p class="team-profile__bio">«Как&nbsp;конструктор, я&nbsp;люблю превращать эскизы от&nbsp;дизайнера в&nbsp;„живые“ изделия, а&nbsp;как&nbsp;технолог&nbsp;— работать с&nbsp;людьми, обучать их, вдохновлять и&nbsp;наблюдать за&nbsp;их&nbsp;профессиональным ростом. Особое удовольствие получаю, когда удается поймать общую творческую волну с&nbsp;коллегами, ведь это залог того, что результатом общей работы станет действительно отличная вещь».</p>
            <p class="team-profile__bio">«Самое лучшее и&nbsp;одновременно самое технологически сложное изделие в&nbsp;бренде&nbsp;— наша флагманская сумка № 107. Для&nbsp;ее&nbsp;создания мы&nbsp;используем дерево, кожу, мех и&nbsp;применяем сразу несколько разных техник: резьбу по&nbsp;дереву, обтяжку кожей, тиснение, ручную роспись, специальный монтаж. Это и&nbsp;рождает такую красоту».</p>
        </div>
    </div>

    <div class="team-profile__member">
        <div class="team-profile__photo team-profile__photo--full">
            <picture>
                <source srcset="/upload/demo/img/team/erastova_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/team/erastova_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/team/erastova.webp" type="image/webp">
                <img class="team-profile__image img" width="1172" height="934" src="/upload/demo/img/team/erastova.jpg" loading="lazy" alt="Дарья Ерастова">
            </picture>
        </div>
        <div class="team-profile__info">
            <h2 class="team-profile__name">Дарья Ерастова</h2>
            <p class="team-profile__role">Художник</p>
        </div>
        <div class="team-profile__bio-wrap">
            <p class="team-profile__bio">Создает росписи, которыми славится ANTE KOVAĆ, работает над коллекциями бренда, индивидуальными заказами и&nbsp;реставрацией изделий.</p>
            <p class="team-profile__bio">«Сколько себя помню всегда держала в&nbsp;руках карандаши, ручки, мелки, краски. Отучившись на&nbsp;художественно-графическом факультете, искала вдохновения в&nbsp;тату-индустрии и&nbsp;работала тату-мастером, рисовала эскизы под&nbsp;заказ. Кожа людей и&nbsp;животных всегда привлекала меня как&nbsp;особое полотно со&nbsp;своей энергией».</p>
            <p class="team-profile__bio">«К&nbsp;каждому сюжету на&nbsp;изделиях я&nbsp;отношусь с&nbsp;любовью и&nbsp;трепетом. Даже если&nbsp;он&nbsp;повторяется на&nbsp;разных видах изделий, каждый из&nbsp;них уникален, так как&nbsp;новая форма диктует новое прочтение. Самые любимые мои сюжеты&nbsp;— коллекция по&nbsp;мотивам русского художника-иллюстратора Ивана Яковлевича Билибина. В&nbsp;этих композициях и&nbsp;пейзажи (остров Буян), и&nbsp;герои (Щука, Жар-Птица, Царевна Лягушка), и&nbsp;узоры греют душу будто на&nbsp;каком-то генетическом уровне восприятия. Это особенная коллекция, она объединяет всех нас и&nbsp;напоминает о&nbsp;детстве, бабушке, маме, запахе книг с&nbsp;детскими сказками и&nbsp;теплоте семейных вечеров».</p>
        </div>
    </div>

    <div class="team-profile__member">
        <div class="team-profile__photo team-profile__photo--portrait team-profile__photo--full">
            <picture>
                <source srcset="/upload/demo/img/team/marchenko_mobile.webp" media="(max-width: 768px)" type="image/webp">
                <source srcset="/upload/demo/img/team/marchenko_mobile.jpg" media="(max-width: 768px)">
                <source srcset="/upload/demo/img/team/marchenko.webp" type="image/webp">
                <img class="team-profile__image img" width="646" height="60" src="/upload/demo/img/team/marchenko.jpg" loading="lazy" alt="Алексей Марченко">
            </picture>
        </div>
        <div class="team-profile__info">
            <h2 class="team-profile__name">Алексей Марченко</h2>
            <p class="team-profile__role">Модельер-конструктор обувного цеха</p>
        </div>
        <div class="team-profile__bio-wrap">
            <p class="team-profile__bio">Алексей Марченко&nbsp;— специалист с&nbsp;35-летним опытом в&nbsp;разработке, производстве и&nbsp;индивидуальном пошиве обуви. Работает по&nbsp;принципам ведущей итальянской обувной школы Arsutoria. Алексей полностью контролирует весь цикл производства пары&nbsp;— от&nbsp;эскиза (которые он&nbsp;создает собственноручно) до&nbsp;готового изделия.</p>
            <p class="team-profile__bio">«Я&nbsp;всегда работал на&nbsp;индивидуальном пошиве, но&nbsp;мечтал о&nbsp;большом производстве, в&nbsp;первые&nbsp;же два месяца работы я&nbsp;нарисовал около 100 эскизов».</p>
            <p class="team-profile__bio">«При&nbsp;создании дизайна мужской обуви я&nbsp;вдохновляюсь дизайном автомобилей, женских&nbsp;— наших сумок».</p>
            <p class="team-profile__bio"> «Я&nbsp;— руки заказчика, с&nbsp;моей помощью человек может создать пару своей мечты».</p>
        </div>
    </div>

</div>