<section class="hero">
    <div class="hero__container container">
        <div class="hero__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Дом моды Richard& Raul</a>
                </li>
                <li class="breadcrumbs__item">
                    Наследие
                </li>
            </ul>
        </div>
    </div>
    <div class="hero__container">
        <div class="hero__head">
            <h1 class="hero__title title">Наследие Ante Kovac: Вневременная элегантность, созданная для вас.</h1>
            <p class="hero__subtitle subtitle">Здесь живет история нашего бренда. В этой галерее представлены архивные модели Ante Kovac — воплощение элегантности и мастерства, проверенные временем. Каждая из них может быть создана специально для вас, чтобы подчеркнуть вашу индивидуальность и придать вашему образу неповторимый характер. </p>
        </div>
        <div class="hero__swiper swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-theme="light">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/legacy/hero_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/legacy/hero_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/legacy/hero.webp" type="image/webp">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/legacy/hero.jpg" alt="hero">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>