<section class="error">
    <div class="error__container container container--holder">
        <picture>
            <source srcset="./img/404-mobile.webp" media="(max-width: 768px)" type="image/webp">
            <source srcset="./img/404-mobile.png" media="(max-width: 768px)">
            <source srcset="./img/404.webp" type="image/webp">
            <img class="error__image img" width="547" height="231" src="./img/404.png" alt="error">
        </picture>
        <h1 class="error__title title title--h2">Страница не найдена: (</h1>
        <p class="error__text text">Возможно, вы перешли по неработающей ссылке или неверно ввели адрес</p>
        <button class="error__button button button--big">
            <svg class="button__icon" width="12" height="12">
                <use href="./img/sprite.svg#arrow-btn"></use>
            </svg>
            <span class="button__text">Вернуться на главную</span>
        </button>
    </div>
</section>