<section class="boutiques">
   <div class="boutiques__container container">
      <div class="boutiques__breadcrumbs breadcrumbs">
         <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
               <a href="#" class="breadcrumbs__link" title="Главная"></a>
            </li>
            <li class="breadcrumbs__item">Бутики</li>
         </ul>
      </div>
      <h1 class="boutiques__title title">Арт-бутики дома моды Rich&Raul</h1>
      <ul class="boutiques__list list-reset">
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h2 class="boutiques__title title">Арт-бутик ANTE KOVAC</h2>
                     <p class="boutiques__text text">Москва, ТЦ Гименей, Большая Якиманка, д. 22, 2 этаж</p>
                  </div>
                  <ul class="boutiques__contact contact-boutiques list-reset">
                     <li class="contact-boutiques__item contact-boutiques__item--phone">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#phone"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="tel:+79100004539" target="_blank">+7 910 000-45-39</a>
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#clock"></use>
                        </svg>
                        Ежедневно с 10:00 до 21:00
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#mail"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="mailto:order@antekovac.ru" target="_blank">order@antekovac.ru</a>
                     </li>
                  </ul>
               </div>
               <a href="#map" class="boutiques__button button button--grey" data-map="55.738340, 37.614628">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <div class="boutiques__slide">
                     <div class="boutiques__play play">
                        <video class="play__video" preload="false" width="280" height="185" poster="./img/showroom/video-poster.jpg" playsinline="playsinline" loop="loop" muted="muted">
                           <source data-desktop-src="./video-desktop.webm" data-mobile-src="./video-mobile.webm" type="video/webm" />
                           <source data-desktop-src="./video-desktop.mp4" data-mobile-src="./video-mobile.mp4" type="video/mp4" />
                        </video>
                        <button class="play__button btn-reset" type="button" class="btn-reset"></button>
                     </div>
                  </div>
                  <div class="boutiques__slide">
                     <picture>
                        <source srcset="./img/showroom/image-01-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                        <source srcset="./img/showroom/image-01-mobile.png" media="(max-width: 768px)" />
                        <source srcset="./img/showroom/image-01.webp" type="image/webp" />
                        <img class="boutiques__image img" width="280" height="185" src="./img/showroom/image-01.png" alt="Showroom" />
                     </picture>
                  </div>
                  <div class="boutiques__slide">
                     <picture>
                        <source srcset="./img/showroom/image-02-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                        <source srcset="./img/showroom/image-02-mobile.png" media="(max-width: 768px)" />
                        <source srcset="./img/showroom/image-02.webp" type="image/webp" />
                        <img class="boutiques__image img" width="560" height="370" src="./img/showroom/image-02.png" alt="Showroom" />
                     </picture>
                  </div>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h2 class="boutiques__title title">Арт-бутик Сельскохохяйственная</h2>
                     <p class="boutiques__text text">Москва, ТЦ Гименей, Большая Якиманка, д. 22, 2 этаж</p>
                  </div>
                  <ul class="boutiques__contact contact-boutiques list-reset">
                     <li class="contact-boutiques__item contact-boutiques__item--phone">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#phone"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="tel:+79100004539" target="_blank">+7 910 000-45-39</a>
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#clock"></use>
                        </svg>
                        Ежедневно с 10:00 до 21:00
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#mail"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="mailto:order@antekovac.ru" target="_blank">order@antekovac.ru</a>
                     </li>
                  </ul>
               </div>
               <a href="#map" class="boutiques__button button button--grey" data-map="55.739118, 37.620258">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <div class="boutiques__slide">
                     <div class="boutiques__play play">
                        <video class="play__video" preload="false" width="280" height="185" poster="./img/showroom/video-poster.jpg" playsinline="playsinline" loop="loop" muted="muted">
                           <source data-desktop-src="./video-desktop.webm" data-mobile-src="./video-mobile.webm" type="video/webm" />
                           <source data-desktop-src="./video-desktop.mp4" data-mobile-src="./video-mobile.mp4" type="video/mp4" />
                        </video>
                        <button class="play__button btn-reset" type="button" class="btn-reset"></button>
                     </div>
                  </div>
                  <div class="boutiques__slide">
                     <picture>
                        <source srcset="./img/showroom/image-03-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                        <source srcset="./img/showroom/image-03-mobile.png" media="(max-width: 768px)" />
                        <source srcset="./img/showroom/image-03.webp" type="image/webp" />
                        <img class="boutiques__image img" width="280" height="185" src="./img/showroom/image-03.png" alt="Showroom" />
                     </picture>
                  </div>
                  <div class="boutiques__slide">
                     <picture>
                        <source srcset="./img/showroom/image-04-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                        <source srcset="./img/showroom/image-04-mobile.png" media="(max-width: 768px)" />
                        <source srcset="./img/showroom/image-04.webp" type="image/webp" />
                        <img class="boutiques__image img" width="560" height="370" src="./img/showroom/image-04.png" alt="Showroom" />
                     </picture>
                  </div>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h2 class="boutiques__title title">Дом Моды Rich&Raul</h2>
                     <p class="boutiques__text text">Москва, ТЦ Гименей, Большая Якиманка, д. 22, 2 этаж</p>
                  </div>
                  <ul class="boutiques__contact contact-boutiques list-reset">
                     <li class="contact-boutiques__item contact-boutiques__item--phone">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#phone"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="tel:+79100004539" target="_blank">+7 910 000-45-39</a>
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#clock"></use>
                        </svg>
                        Ежедневно с 10:00 до 21:00
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use href="./img/sprite.svg#mail"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="mailto:order@antekovac.ru" target="_blank">order@antekovac.ru</a>
                     </li>
                  </ul>
               </div>
               <a href="#map" class="boutiques__button button button--grey" data-map="55.658510, 37.482277">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <div class="boutiques__slide">
                     <div class="boutiques__play play">
                        <video class="play__video" preload="false" width="280" height="185" poster="./img/showroom/video-poster.jpg" playsinline="playsinline" loop="loop" muted="muted">
                           <source data-desktop-src="./video-desktop.webm" data-mobile-src="./video-mobile.webm" type="video/webm" />
                           <source data-desktop-src="./video-desktop.mp4" data-mobile-src="./video-mobile.mp4" type="video/mp4" />
                        </video>
                        <button class="play__button btn-reset" type="button" class="btn-reset"></button>
                     </div>
                  </div>
                  <div class="boutiques__slide">
                     <picture>
                        <source srcset="./img/showroom/image-01-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                        <source srcset="./img/showroom/image-01-mobile.png" media="(max-width: 768px)" />
                        <source srcset="./img/showroom/image-01.webp" type="image/webp" />
                        <img class="boutiques__image img" width="280" height="185" src="./img/showroom/image-01.png" alt="Showroom" />
                     </picture>
                  </div>
                  <div class="boutiques__slide">
                     <picture>
                        <source srcset="./img/showroom/image-02-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                        <source srcset="./img/showroom/image-02-mobile.png" media="(max-width: 768px)" />
                        <source srcset="./img/showroom/image-02.webp" type="image/webp" />
                        <img class="boutiques__image img" width="560" height="370" src="./img/showroom/image-02.png" alt="Showroom" />
                     </picture>
                  </div>
               </div>
            </div>
         </li>
      </ul>
      <div class="boutiques__pages pages">
         <button class="pages__button button button--grey">
            <span class="button__text">Загрузить еще</span>
            <svg class="button__icon button__icon--down" width="12" height="18" stroke-width="0">
               <use href="./img/sprite.svg#arrow"></use>
            </svg>
         </button>
         <ul class="pages__list list-reset">
            <li class="pages__item pages__item--arrow">
               <a href="#" class="pages__link"></a>
            </li>
            <li class="pages__item">
               <a href="#" class="pages__link">1</a>
            </li>
            <li class="pages__item pages__item--active">2</li>
            <li class="pages__item pages__item--dots">…</li>
            <li class="pages__item">
               <a href="#" class="pages__link">14</a>
            </li>
            <li class="pages__item">
               <a href="#" class="pages__link">15</a>
            </li>
            <li class="pages__item pages__item--arrow">
               <a href="#" class="pages__link"></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="boutiques__container container container--pull">
      <div id="map" class="boutiques__map map">
         <div class="map__overlay">
            <p>Кликните, чтобы активировать карту</p>
         </div>
      </div>
   </div>
</section>