<section class="boutiques">
   <div class="boutiques__container container">
      <div class="boutiques__breadcrumbs breadcrumbs">
         <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
               <a href="#" class="breadcrumbs__link" title="Главная"></a>
            </li>
            <li class="breadcrumbs__item">Бутики</li>
         </ul>
      </div>
      <h1 class="boutiques__title title">Арт-бутики дома моды</h1>
      <ul class="boutiques__list list-reset">
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h2 class="boutiques__title title">Арт-бутик ANTE KOVAC</h2>
                     <p class="boutiques__text text">Москва, ТЦ Гименей, Большая Якиманка, д. 22, 2 этаж</p>
                  </div>
                  <ul class="boutiques__contact contact-boutiques list-reset">
                     <li class="contact-boutiques__item contact-boutiques__item--phone">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#phone"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="tel:+79100004539" target="_blank">+7 910 000-45-39</a>
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#clock"></use>
                        </svg>
                        Ежедневно с 10:00 до 21:00
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#mail"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="mailto:order@antekovac.ru" target="_blank">order@antekovac.ru</a>
                     </li>
                  </ul>
               </div>
               <a href="#map" class="boutiques__button button button--light" data-map="55.738340, 37.614628">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/boutique_01_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/boutique_01_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/boutique_01.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/boutique_01.jpg" alt="Арт-бутик ANTE KOVAC" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h2 class="boutiques__title title">Дом Моды Rich&Raul</h2>
                     <p class="boutiques__text text">Москва, Кутузовский проспект, д. 24, 2 этаж</p>
                  </div>
                  <ul class="boutiques__contact contact-boutiques list-reset">
                     <li class="contact-boutiques__item contact-boutiques__item--phone">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#phone"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="tel:+79100004539" target="_blank">+7 910 000-45-39</a>
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#clock"></use>
                        </svg>
                        Ежедневно с 10:00 до 21:00
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#mail"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="mailto:order@antekovac.ru" target="_blank">order@antekovac.ru</a>
                     </li>
                  </ul>
               </div>
               <a href="#map" class="boutiques__button button button--light" data-map="55.744531, 37.545267">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/boutique_02_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/boutique_02_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/boutique_02.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/boutique_02.jpg" alt="Дом Моды Rich&Raul" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h2 class="boutiques__title title">Корнер ANTE KOVAC</h2>
                     <p class="boutiques__text text">Москва, Ходынский бульвар, 4, ТЦ Авиапарк, 1 этаж</p>
                  </div>
                  <ul class="boutiques__contact contact-boutiques list-reset">
                     <li class="contact-boutiques__item contact-boutiques__item--phone">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#phone"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="tel:+79100004539" target="_blank">+7 910 000-45-39</a>
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#clock"></use>
                        </svg>
                        Ежедневно с 10:00 до 21:00
                     </li>
                     <li class="contact-boutiques__item">
                        <svg class="contact-boutiques__icon" width="16" height="16">
                           <use xlink:href="./img/sprite.svg#mail"></use>
                        </svg>
                        <a class="contact-boutiques__link" href="mailto:order@antekovac.ru" target="_blank">order@antekovac.ru</a>
                     </li>
                  </ul>
               </div>
               <a href="#map" class="boutiques__button button button--light" data-map="55.790491, 37.531373">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/boutique_03_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/boutique_03_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/boutique_03.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/boutique_03.jpg" alt="Корнер ANTE KOVAC" />
                  </picture>
               </div>
            </div>
         </li>
      </ul>
      <h2 class="boutiques__title title">Презентация у наших партнеров</h2>
      <ul class="boutiques__list list-reset">
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <h3 class="boutiques__title title">BOSCO ВЕСНА</h3>
                     <p class="boutiques__text text">Москва, Новый Арбат, 19</p>
                  </div>
               </div>
               <a href="https://boscovesna.ru/" rel="nofollow" target="_blank" class="boutiques__button button button--light">
                  <span class="button__text">boscovesna.ru</span>
               </a>
               <a href="#map" class="boutiques__button button button--light" data-map="55.751948, 37.589293">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_01_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_01_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_01.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_01.jpg" alt="Партнеры Bosco" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                         <source srcset="/upload/demo/img/boutiques/logo_krasnyj.webp" type="image/webp">
                         <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_krasnyj.png" width="232" height="103" alt="Красный на малой красной">
                     </picture>
                     <p class="boutiques__text text">Казань, Малая Красная ул., 7</p>
                  </div>
               </div>
               <a href="#map" class="boutiques__button button button--light" data-map="55.798399, 49.128063">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_vipavenue.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_vipavenue.png" width="220" height="31" alt="Vipavenue">
                     </picture>
                  </div>
               </div>
               <a href="https://vipavenue.ru/" rel="nofollow" target="_blank" class="boutiques__button button button--light">
                  <span class="button__text">Vipavenue.ru</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_02_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_02_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_02.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_02.jpg" alt="Партнеры Красный" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_residence.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_residence.png" width="174" height="90" alt="Residence">
                     </picture>
                     <p class="boutiques__text text">Мурманск, ул. Челюскинцев, 31, (этаж 1)</p>
                  </div>
               </div>
               <a href="#map" class="boutiques__button button button--light" data-map="68.980923, 33.094016">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_03_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_03_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_03.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_03.jpg" alt="Партнеры Residence" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_wosk.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_wosk.png" width="249" height="87" alt="Wosk">
                     </picture>
                     <p class="boutiques__text text">1147, Москва, Малая Никитская, 33</p>
                  </div>
               </div>
               <a href="https://wosk1147.ru/" rel="nofollow" target="_blank" class="boutiques__button button button--light">
                  <span class="button__text">wosk1147.ru</span>
               </a>
               <a href="#map" class="boutiques__button button button--light" data-map="55.759177, 37.586104">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_04_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_04_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_04.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_04.jpg" alt="Партнеры Wosk" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_caterina.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_caterina.png" width="203" height="70" alt="Caterina Leman">
                     </picture>
                     <p class="boutiques__text text">Артиум</p>
                     <p class="boutiques__text text">Европарк</p>
                     <p class="boutiques__text text">ТЦ Белая Дача</p>
                     <p class="boutiques__text text">ТЦ Мега Химки</p>
                     <p class="boutiques__text text">ТЦ Мега Теплый Стан</p>
                  </div>
               </div>
               <a href="#map" class="boutiques__button button button--light" data-map="55.757113, 37.659049;55.766415, 37.381219;55.654006, 37.844840;55.911143, 37.396800;55.602653, 37.489706">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_05_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_05_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_05.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_05.jpg" alt="Партнеры Katerina Leman" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_elyts.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_elyts.png" width="159" height="37" alt="Elyts">
                     </picture>
                  </div>
               </div>
               <a href="https://elyts.ru/" rel="nofollow" target="_blank" class="boutiques__button button button--light">
                  <span class="button__text">elyts.ru</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_06_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_06_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_06.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_06.jpg" alt="Партнеры Elyts" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_schubert.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_schubert.png" width="142" height="62" alt="Schubert">
                     </picture>
                  </div>
               </div>
               <a href="https://chubert-shop.ru/" rel="nofollow" target="_blank" class="boutiques__button button button--light">
                  <span class="button__text">chubert-shop.ru</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_07_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_07_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_07.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_07.jpg" alt="Партнеры Schubert" />
                  </picture>
               </div>
            </div>
         </li>
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/logo_cosmo.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/logo_cosmo.png" width="239" height="121" alt="Cosmo">
                     </picture>
                     <p class="boutiques__text text">Московская область, Нудольское, владение «Изумрудный лес</p>
                  </div>
               </div>
               <a href="https://izumrudnyles.cosmosgroup.ru/" rel="nofollow" target="_blank" class="boutiques__button button button--light button--thin">
                  <span class="button__text">izumrudnyles.cosmosgroup.ru</span>
               </a>
               <a href="#map" class="boutiques__button button button--light" data-map="56.126914, 36.506834">
                  <svg class="button__icon" width="16" height="16" stroke-width="0">
                     <use xlink:href="./img/sprite.svg#location"></use>
                  </svg>
                  <span class="button__text">Посмотреть на карте</span>
               </a>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/partners_08_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/partners_08_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/partners_08.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/partners_08.jpg" alt="Партнеры Cosmo" />
                  </picture>
               </div>
            </div>
         </li>
      </ul>
      <h2 class="boutiques__title title">Производство</h2>
      <ul class="boutiques__list list-reset">
         <li class="boutiques__item">
            <div class="boutiques__box">
               <div class="boutiques__row">
                  <div class="boutiques__content">
                     <picture>
                        <source srcset="/upload/demo/img/boutiques/ante_kovac_dark.webp" type="image/webp">
                        <img class="boutiques__logo" loading="lazy" src="/upload/demo/img/boutiques/ante_kovac_dark.png" width="377" height="55" alt="ANTE KOVAC">
                     </picture>
                     <p class="boutiques__text text">Угольная улица, 4А, Мытищи, Московская область</p>
                  </div>
               </div>
            </div>
            <div class="boutiques__wrap">
               <div class="boutiques__gallery">
                  <picture>
                     <source srcset="/upload/demo/img/boutiques/production_01_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/boutiques/production_01_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/boutiques/production_01.webp" type="image/webp" />
                     <img class="boutiques__image img" loading="lazy"  width="828" height="378" src="/upload/demo/img/boutiques/production_01.jpg" alt="Производство ANTE KOVAC" />
                  </picture>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div class="boutiques__container container container--pull">
      <div id="map" class="boutiques__map map">
         <div class="map__overlay">
            <p>Кликните, чтобы активировать карту</p>
         </div>
      </div>
   </div>
</section>