<section class="brands">
    <div class="brands__container container">
        <div class="brands__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    Бренды
                </li>
            </ul>
        </div>
    </div>
    <div class="brands__container container container--wide">
        <h1 class="brands__title title">Бренды дома моды Rich&Raul</h1>
        <ul class="brands__list list-reset">
            <li class="brands__item">
                <article class="brands__article article-brands">
                    <div class="article-brands__head">
                        <picture>
                            <source srcset="/upload/demo/img/brands_new/image_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/brands_new/image_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/brands_new/image_01.webp" type="image/webp">
                            <img class="article-brands__image img" width="960" height="540" src="/upload/demo/img/brands_new/image_01.jpg" alt="brands">
                        </picture>
                    </div>
                    <div class="article-brands__content">
                        <div class="article-brands__branding">
                            <picture>
                                <source srcset="/upload/demo/img/brands_new/ante_kovac.webp" type="image/webp">
                                <img class="article-brands__brand img" src="/upload/demo/img/brands_new/ante_kovac.png" width="205" height="63" alt="Ante Kovac">
                            </picture>
                        </div>
                        <p class="article-brands__text text">Добро пожаловать в наш модный женский шоурум одежды и сумок! Здесь вы найдёте самые стильные и актуальные образы, высококачественные товары от ведущих мировых брендов. Наши опытные консультанты помогут вам выбрать подходящую одежду и аксессуары, учитывая ваш вкус и особенности фигуры.</p>
                        <a href="#" class="article-brands__button button button--grey">
                            Все товары бренда
                            <svg class="button__icon" width="12" height="12">
                                <use xlink:href="/upload/demo/img/sprite.svg#arrow-btn"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
            <li class="brands__item">
                <article class="brands__article article-brands">
                    <div class="article-brands__head">
                        <picture>
                            <source srcset="/upload/demo/img/brands_new/image_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/brands_new/image_02_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/brands_new/image_02.webp" type="image/webp">
                            <img class="article-brands__image img" width="960" height="540" src="/upload/demo/img/brands_new/image_02.jpg" alt="brands">
                        </picture>
                    </div>
                    <div class="article-brands__content">
                        <div class="article-brands__branding">
                            <picture>
                                <source srcset="/upload/demo/img/brands_new/ante_kovac_cosmetics.webp" type="image/webp">
                                <img class="article-brands__brand img" src="/upload/demo/img/brands_new/ante_kovac_cosmetics.png" width="212" height="80" alt="Ante Kovac Cosmetics">
                            </picture>
                        </div>
                        <p class="article-brands__text text">Эта линия — приглашение к исследованию собственных желаний и идеалов, в которых красота служит связывающим ЗВЕНОМ сердца и души. Каждый день с этими продуктами — это шаг навстречу К ИСКУССТВУ И своему истинному «я».</p>
                        <a href="#" class="article-brands__button button button--grey">
                            Все товары бренда
                            <svg class="button__icon" width="12" height="12">
                                <use xlink:href="/upload/demo/img/sprite.svg#arrow-btn"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
            <li class="brands__item">
                <article class="brands__article article-brands">
                    <div class="article-brands__head">
                        <picture>
                            <source srcset="/upload/demo/img/brands_new/image_03_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/brands_new/image_03_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/brands_new/image_03.webp" type="image/webp">
                            <img class="article-brands__image img" width="960" height="540" src="/upload/demo/img/brands_new/image_03.jpg" alt="brands">
                        </picture>
                    </div>
                    <div class="article-brands__content">
                        <div class="article-brands__branding">
                            <picture>
                                <source srcset="/upload/demo/img/brands_new/ante_kovac_tau.webp" type="image/webp">
                                <img class="article-brands__brand img" src="/upload/demo/img/brands_new/ante_kovac_tau.png" width="220" height="107" alt="ТАЮ">
                            </picture>
                        </div>
                        <p class="article-brands__text text">Добро пожаловать в наш модный женский шоурум одежды и сумок! Здесь вы найдёте самые стильные и актуальные образы, высококачественные товары от ведущих мировых брендов. Наши опытные консультанты помогут вам выбрать подходящую одежду и аксессуары, учитывая ваш вкус и особенности фигуры.</p>
                        <a href="#" class="article-brands__button button button--grey">
                            Все товары бренда
                            <svg class="button__icon" width="12" height="12">
                                <use xlink:href="/upload/demo/img/sprite.svg#arrow-btn"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
    <div class="brands__container container">
        <div class="brands__pages pages">
            <button class="pages__button button button--grey">
                <span class="button__text">Загрузить еще</span>
                <svg class="button__icon button__icon--down" width="12" height="18" stroke-width="0">
                    <use xlink:href="/upload/demo/img/sprite.svg#arrow"></use>
                </svg>
            </button>
            <ul class="pages__list list-reset">
                <li class="pages__item  pages__item--arrow">
                    <a href="#" class="pages__link"></a>
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">1</a>
                </li>
                <li class="pages__item pages__item--active">
                    2
                </li>
                <li class="pages__item pages__item--dots">
                   …
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">14</a>
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">15</a>
                </li>
                <li class="pages__item  pages__item--arrow">
                    <a href="#" class="pages__link"></a>
                </li>
            </ul>
        </div>
    </div>
</section>