<section class="brands">
    <div class="brands__container container">
        <div class="brands__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    Бренды
                </li>
            </ul>
        </div>
    </div>
    <div class="brands__container container container--wide">
        <h1 class="brands__title title">Бренды дома моды Rich&Raul</h1>
        <ul class="brands__list list-reset">
            <li class="brands__item">
                <article class="brands__article article-brands">
                    <div class="article-brands__head">
                        <picture>
                            <source srcset="./img/brands/image-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/brands/image-01-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/brands/image-01.webp" type="image/webp">
                            <img class="article-brands__image img" width="960" height="540" src="./img/brands/image-01.png" alt="brands">
                        </picture>
                        <a class="article-brands__logo logo" href="/" aria-label="Ссылка на бренд ANTE KOVAC">
                            <picture>
                                <source srcset="./img/brands/ante-kovac.webp" type="image/webp">
                                <img class="logo__image img" src="./img/brands/ante-kova.png" width="260" height="80" alt="ANTE KOVAC">
                            </picture>
                        </a>
                    </div>
                    <div class="article-brands__content">
                        <h2 class="article-brands__title visually-hidden">Ante Kovac</h2>
                        <p class="article-brands__text text">Добро пожаловать в наш модный женский шоурум одежды и сумок! Здесь вы найдёте самые стильные и актуальные образы, высококачественные товары от ведущих мировых брендов. Наши опытные консультанты помогут вам выбрать подходящую одежду и аксессуары, учитывая ваш вкус и особенности фигуры.</p>
                        <a href="#" class="article-brands__button button button--grey">
                            Все товары бренда
                            <svg class="button__icon" width="12" height="12">
                                <use xlink:href="./img/sprite.svg#arrow-btn"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
            <li class="brands__item">
                <article class="brands__article article-brands">
                    <div class="article-brands__head">
                        <picture>
                            <source srcset="./img/brands/image-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/brands/image-02-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/brands/image-02.webp" type="image/webp">
                            <img class="article-brands__image img" width="960" height="540" src="./img/brands/image-02.png" alt="brands">
                        </picture>
                        <a class="article-brands__logo logo" href="/" aria-label="Ссылка на бренд RICH&RAUL">
                            <picture>
                                <source srcset="./img/logo.webp" type="image/webp">
                                <img class="logo__image img" src="./img/logo.png" width="204" height="128" alt="RICH&RAUL">
                            </picture>
                        </a>
                    </div>
                    <div class="article-brands__content">
                        <h2 class="article-brands__title visually-hidden">RICH&RAUL</h2>
                        <p class="article-brands__text text">Добро пожаловать в наш модный женский шоурум одежды и сумок! Здесь вы найдёте самые стильные и актуальные образы, высококачественные товары от ведущих мировых брендов. Наши опытные консультанты помогут вам выбрать подходящую одежду и аксессуары, учитывая ваш вкус и особенности фигуры.</p>
                        <a href="#" class="article-brands__button button button--grey">
                            Все товары бренда
                            <svg class="button__icon" width="12" height="12">
                                <use xlink:href="./img/sprite.svg#arrow-btn"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
            <li class="brands__item">
                <article class="brands__article article-brands">
                    <div class="article-brands__head">
                        <picture>
                            <source srcset="./img/brands/image-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="./img/brands/image-03-mobile.png" media="(max-width: 768px)">
                            <source srcset="./img/brands/image-03.webp" type="image/webp">
                            <img class="article-brands__image img" width="960" height="540" src="./img/brands/image-03.png" alt="brands">
                        </picture>
                        <a class="article-brands__logo logo" href="/" aria-label="Ссылка на бренд ANTE KOVAC">
                            <picture>
                                <source srcset="./img/brands/ante-kovac.webp" type="image/webp">
                                <img class="logo__image img" src="./img/brands/ante-kova.png" width="260" height="80" alt="ANTE KOVAC">
                            </picture>
                        </a>
                    </div>
                    <div class="article-brands__content">
                        <h2 class="article-brands__title visually-hidden">Ante Kovac</h2>
                        <p class="article-brands__text text">Добро пожаловать в наш модный женский шоурум одежды и сумок! Здесь вы найдёте самые стильные и актуальные образы, высококачественные товары от ведущих мировых брендов. Наши опытные консультанты помогут вам выбрать подходящую одежду и аксессуары, учитывая ваш вкус и особенности фигуры.</p>
                        <a href="#" class="article-brands__button button button--grey">
                            Все товары бренда
                            <svg class="button__icon" width="12" height="12">
                                <use xlink:href="./img/sprite.svg#arrow-btn"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
    <div class="brands__container container">
        <div class="brands__pages pages">
            <button class="pages__button button button--grey">
                <span class="button__text">Загрузить еще</span>
                <svg class="button__icon button__icon--down" width="12" height="18" stroke-width="0">
                    <use xlink:href="./img/sprite.svg#arrow"></use>
                </svg>
            </button>
            <ul class="pages__list list-reset">
                <li class="pages__item  pages__item--arrow">
                    <a href="#" class="pages__link"></a>
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">1</a>
                </li>
                <li class="pages__item pages__item--active">
                    2
                </li>
                <li class="pages__item pages__item--dots">
                   …
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">14</a>
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">15</a>
                </li>
                <li class="pages__item  pages__item--arrow">
                    <a href="#" class="pages__link"></a>
                </li>
            </ul>
        </div>
    </div>
</section>