<section class="call">
    <div class="call__container container">
        <h2 class="call__title title title--h2">Как оформить заказ?</h2>
        <p class="call__subtitle subtitle">
            Для создания вашего уникального изделия, пожалуйста, свяжитесь с нами любым удобным для вас способом:
        </p>
        <a href="#" class="call__button button button--big">
            <span class="button__text">Создать изделие</span>
            <svg class="button__icon" width="12" height="12">
                <use xlink:href="./img/sprite.svg#arrow-btn"></use>
            </svg>
        </a>
        <ul class="call__list list-reset">
            <li class="call__item call__item--num">
                <svg class="call__icon" width="18" height="18">
                    <use xlink:href="./img/sprite.svg#phone"></use>
                </svg>
                <a href="tel:+79100004539" class="call__link link-reset">+7 910 000-45-39</a>
            </li>
            <li class="call__item">
                <svg class="call__icon" width="16" height="16">
                    <use xlink:href="./img/sprite.svg#location"></use>
                </svg>
                <a href="#" class="call__link link-reset">Москва, ТЦ Гименей, Большая Якиманка, д. 22, 2 этаж</a>
            </li>
            <li class="call__item">
                <svg class="call__icon" width="16" height="16">
                    <use xlink:href="./img/sprite.svg#clock"></use>
                </svg>
                <a href="#" class="call__link link-reset">Ежедневно с 10:00 до 21:00</a>
            </li>
        </ul>
    </div>
</section>