<section class="choose">
    <div class="choose__container container container--wide">
        <div class="choose__row">
            <div class="choose__content content">
                <h2 class="choose__title title">Подобрать и купить в Шоуруме</h2>
                <p class="choose__text text">Добро пожаловать в наш модный женский шоурум одежды и сумок! Здесь вы найдёте самые стильные и актуальные образы, высококачественные товары от ведущих мировых брендов. Наши опытные консультанты помогут вам выбрать подходящую одежду и аксессуары, учитывая ваш вкус и особенности фигуры.</p>
                <a href="#" class="choose__button button button--big button--outline">
                    <span class="button__text">Хочу в Шоурум</span>
                    <svg class="button__icon" width="14" height="14">
                        <use href="./img/sprite.svg#arrow-btn"></use>
                    </svg>
                </a>
            </div>
            <div class="choose__picture">
                <picture>
                    <source srcset="/upload/demo/img/legacy/choose_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/legacy/choose_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/legacy/choose.webp" type="image/webp">
                    <img class="choose__image img" width="900" height="570" src="/upload/demo/img/legacy/choose.jpg" alt="Фото">
                </picture>
            </div>
        </div>
    </div>
</section>