<section class="confirmation">
    <div class="confirmation__container container">
        <div class="confirmation__icon">
            <svg width="12" height="12">
                <use xlink:href="./img/sprite.svg#check"></use>
            </svg>
        </div>
        <h1 class="confirmation__title">Имя Фамилия<br> ваш заказ #111 успешно создан</h1>
        <ul class="confirmation__list list-reset">
            <li class="confirmation__item">
                <span class="confirmation__heading">Способ доставки</span>
                <span class="confirmation__details">Курьером</span>
            </li>
            <li class="confirmation__item">
                <span class="confirmation__heading">Способ оплаты</span>
                <span class="confirmation__details">Наличными</span>
            </li>
        </ul>
        <p class="confirmation__text"></p>
        <a href="#" class="confirmation__button button button--big">
            <span class="button__text">Личный кабинет</span>
            <svg class="button__icon" width="14" height="14">
                <use xlink:href="./img/sprite.svg#arrow-btn"></use>
            </svg>
        </a>
        <p class="confirmation__info info">Если не открылась страница оплаты то нажать на кнопку оплаты</p>
        <a href="#" class="confirmation__button button button--big button--grey">
            <span class="button__text">Оплатить</span>
            <svg class="button__icon" width="14" height="14">
                <use xlink:href="./img/sprite.svg#arrow-btn"></use>
            </svg>
        </a>
    </div>
</section>