<section class="favourites">
    <div class="favourites__container container">
        <div class="favourites__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    Избранное
                </li>
            </ul>
        </div>
        <h1 class="favourites__title title">Избранное</h1>
        <ul class="favourites__list list-reset">
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-01-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-01.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-01.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Куртка Авиатор в меху</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">780 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-02-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-02.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-02.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Жакет ментол «Под двумя пионами»</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">750 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-03-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-03.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-03.png" alt="card">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-03-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-03.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-03.png" alt="card">
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-03-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-03.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-03.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Кейп Lover Star</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">640 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-04-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-04-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-04.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-04.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Дубленка Трофей Персея</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__sell">-20%</div>
                        <div class="price__cost price__cost--old">1 150 000 ₽</div>
                        <div class="price__cost">950 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-05-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-05-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-05.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-05.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Кимоно из питона красное</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">830 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-06-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-06-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-06.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-06.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Тренч из Питона</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">830 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-07-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-07-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-07.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-07.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Дубленка Nude Норка</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">670 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
            <li class="favourites__item">
                <article class="favourites__card card">
                    <div class="card__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source srcset="./img/favourites/card-08-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="./img/favourites/card-08-mobile.png" media="(max-width: 768px)">
                                    <source srcset="./img/favourites/card-08.webp" type="image/webp">
                                    <img class="card__image img" width="420" height="480" src="./img/favourites/card-08.png" alt="card">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <h2 class="card__title">
                        <a href="#" class="card__link">Дубленка Фуксия 2</a>
                    </h2>
                    <div class="card__price price">
                        <div class="price__cost">780 000 ₽</div>
                    </div>
                    <button class="card__remove btn-reset" aria-label="Удалить из избранного">
                        <svg class="card__icon" width="24" height="24">
                            <use xlink:href="./img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </article>
            </li>
        </ul>
        <div class="favourites__pages pages">
            <button class="pages__button button button--grey">
                <span class="button__text">Загрузить еще</span>
                <svg class="button__icon button__icon--down" width="12" height="18" stroke-width="0">
                    <use xlink:href="./img/sprite.svg#arrow"></use>
                </svg>
            </button>
            <ul class="pages__list list-reset">
                <li class="pages__item  pages__item--arrow">
                    <a href="#" class="pages__link"></a>
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">1</a>
                </li>
                <li class="pages__item pages__item--active">
                    2
                </li>
                <li class="pages__item pages__item--dots">
                   …
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">14</a>
                </li>
                <li class="pages__item">
                    <a href="#" class="pages__link">15</a>
                </li>
                <li class="pages__item  pages__item--arrow">
                    <a href="#" class="pages__link"></a>
                </li>
            </ul>
        </div>
    </div>
</section>