<footer id="footer" class="footer">
   <div class="footer__top">
      <div class="footer__container container container--holder">
         <nav class="footer__nav">
            <div class="footer__col">
               <h2 class="footer__title">Каталог</h2>
               <ul class="footer__list list-reset">
                  <li class="footer__item">
                     <a href="#" class="footer__link">Для нее</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Для него</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">ANTE KOVAC COSMETICS</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Великая Россия</a>
                  </li>
               </ul>
            </div>
            <div class="footer__col">
               <h2 class="footer__title">Меню</h2>
               <ul class="footer__list list-reset">
                  <li class="footer__item">
                     <a href="#" class="footer__link">Партнерам</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Бутики</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Бренды</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">О нас</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Доставка и оплата</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Ателье</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Новости</a>
                  </li>
                  <li class="footer__item">
                     <a href="javascript:void(0)" class="footer__link" data-graph-path="message">Написать письмо директору</a>
                  </li>
               </ul>
            </div>
         </nav>
         <div class="footer__contact">
            <div class="footer__enum">
               <h2 class="footer__title">Контакты</h2>
               <ul class="footer__list list-reset">
                  <li class="footer__item">
                     <a href="tel:+79100004539" class="footer__link footer__link--tel" target="_blank">+7 910 000-45-39</a>
                  </li>
                  <li class="footer__item">
                     <a href="mailto:order@antekovac.ru" class="footer__link footer__link--mail" target="_blank">order@antekovac.ru</a>
                  </li>
               </ul>
            </div>
            <div class="footer__enum">
               <h2 class="footer__title">Маркетинг и PR</h2>
               <ul class="footer__list list-reset">
                  <li class="footer__item">
                     <a href="tel:+79160670328" class="footer__link footer__link--tel" target="_blank">+7 916 067-03-28</a>
                  </li>
                  <li class="footer__item">
                     <a href="mailto:gjzhelezoglo@antekovac.ru" class="footer__link footer__link--mail" target="_blank">gjzhelezoglo@antekovac.ru</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="footer__bottom">
      <div class="footer__container container container--holder">
         <a class="footer__logo logo" href="/" aria-label="Логотип ANTE KOVAC">
            <svg class="logo__svg" width="255" height="38">
               <use xlink:href="/upload/demo/img/sprite.svg#logo"></use>
            </svg>
         </a>
         <button class="footer__location btn-reset" data-graph-path="location">Санкт-Петербург</button>
         <div class="footer__social social">
            <ul class="social__list list-reset">
<!--               <li class="social__item">-->
<!--                  <a href="#" class="social__link" target="_blank">-->
<!--                     <svg class="social__image" width="28" height="28">-->
<!--                        <use xlink:href="./img/sprite.svg#rutube"></use>-->
<!--                     </svg>-->
<!--                  </a>-->
<!--               </li>-->
<!--               <li class="social__item">-->
<!--                  <a href="#" class="social__link" target="_blank">-->
<!--                     <svg class="social__image" width="28" height="28">-->
<!--                        <use xlink:href="./img/sprite.svg#youtube"></use>-->
<!--                     </svg>-->
<!--                  </a>-->
<!--               </li>-->
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="28" height="28">
                        <use xlink:href="./img/sprite.svg#telegram"></use>
                     </svg>
                  </a>
               </li>
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="28" height="28">
                        <use xlink:href="./img/sprite.svg#whatsapp"></use>
                     </svg>
                  </a>
               </li>
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="28" height="28">
                        <use xlink:href="./img/sprite.svg#pinterest"></use>
                     </svg>
                  </a>
               </li>
            </ul>
         </div>
         <form action="/" class="footer__form form">
            <label class="form__label label label--nested">
               <input class="form__input input" type="email" placeholder="Введите email">
               <button type="submit" class="form__button button button--grey">
                  <span class="button__text">Подписаться</span>
                  <svg class="button__icon" width="12" height="12">
                     <use xlink:href="./img/sprite.svg#arrow-btn"></use>
                  </svg>
               </button>
            </label>
         </form>
         <a href="#" class="footer__description">Пользовательское соглашение</a>
         <span class="footer__description">Торговая марка — RICH&RAUL</span>
      </div>
   </div>
</footer>