<footer id="footer" class="footer">
   <div class="footer__top">
      <div class="footer__container container container--holder">
         <nav class="footer__nav">
            <div class="footer__col">
               <h2 class="footer__title">Каталог</h2>
               <ul class="footer__list list-reset">
                  <li class="footer__item">
                     <a href="#" class="footer__link">Новинки</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Woman</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Man</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Ателье</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Косметика</a>
                  </li>
               </ul>
            </div>
            <div class="footer__col">
               <h2 class="footer__title">Меню</h2>
               <ul class="footer__list list-reset">
                  <li class="footer__item">
                     <a href="#" class="footer__link">Партнерам</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Бутики</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Бренды</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Рич&Рауль</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">News</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Доставка и оплата</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Оферта</a>
                  </li>
                  <li class="footer__item">
                     <a href="#" class="footer__link">Контакты</a>
                  </li>
               </ul>
            </div>
         </nav>
         <div class="footer__contact">
            <h2 class="footer__title">Контакты</h2>
            <ul class="footer__list list-reset">
               <li class="footer__item">
                  <a href="tel:+79100004539" class="footer__link footer__link--tel" target="_blank">+7 910 000-45-39</a>
               </li>
               <li class="footer__item">
                  <a href="mailto:order@antekovac.ru" class="footer__link footer__link--mail" target="_blank">order@antekovac.ru</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer__bottom">
      <div class="footer__container container container--holder">
         <a class="footer__logo logo" href="/" aria-label="Логотип RICH&RAUL">
            <picture>
               <source srcset="./img/logo.webp" type="image/webp">
               <img class="logo__image img" src="./img/logo.png" width="142" height="90" alt="RICH&RAUL">
            </picture>
         </a>
         <a href="#" class="footer__slogan">Новая идентичность</a>
         <div class="footer__social social">
            <ul class="social__list list-reset">
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="14" height="14">
                        <use xlink:href="./img/sprite.svg#rutube"></use>
                     </svg>
                  </a>
               </li>
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="14" height="14">
                        <use xlink:href="./img/sprite.svg#youtube"></use>
                     </svg>
                  </a>
               </li>
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="14" height="14">
                        <use xlink:href="./img/sprite.svg#telegram"></use>
                     </svg>
                  </a>
               </li>
               <li class="social__item">
                  <a href="#" class="social__link" target="_blank">
                     <svg class="social__image" width="14" height="14">
                        <use xlink:href="./img/sprite.svg#whatsapp"></use>
                     </svg>
                  </a>
               </li>
            </ul>
         </div>
         <form action="/" class="footer__form form form--subscribe">
            <label for="footer-email" class="form__label label">
               <input class="form__input input" type="email" id="footer-email" placeholder="Введите email">
               <button type="submit" class="form__button button button--grey">
                  <span class="button__text">Подписаться</span>
                  <svg class="button__icon" width="12" height="12">
                     <use xlink:href="./img/sprite.svg#arrow-btn"></use>
                  </svg>
               </button>
            </label>
         </form>
         <a href="#" class="footer__description">Пользовательское соглашение</a>
         <a href="#" class="footer__description">Торговая марка — RICH&RAUL</a>
      </div>
   </div>
</footer>