<!-- ШАПКА в двух версиях, прозрачная просто - класс "header" и более узкая по высоте с серым фоном - класс "header--slim" -->
<div class="marquee marquee--active fixed-block">
    <div class="marquee__container container">
        <div class="marquee__body">
            <div class="marquee__date">
                <svg class="marquee__icon" width="24" height="24">
                    <use href="#calendar"></use>
                </svg>
                <time class="marquee__time" datetime="2024-09-30">30 августа 2024</time>
            </div>
            <div class="marquee__marquee3k marquee3k" data-speed="0.25" data-pausable="true">
                <div class="marquee__content">
                    <p class="marquee__text">Показ недели Моды в Санкт-Петербурге 2024 sadkasjkk</p>
                </div>
            </div>
            <a href="#" class="marquee__button button button--accent">
                <span class="button__text">Подробнее</span>
                <svg class="button__icon" width="12" height="12">
                    <use href="#arrow-btn"></use>
                </svg>
            </a>
        </div>
        <button class="marquee__close btn-reset" aria-label="Закрыть шторку">
            <svg width="24" height="24" stroke-width="2">
                <use href="#close"></use>
            </svg>
        </button>
    </div>
</div>
<header id="header" class="header @headerClassName fixed-block" data-menu>
    <div class="header__container container">
        <div class="header__bar">
            <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span class="burger__line"></span>
<!--                <span class="burger__text">Меню</span>-->
            </button>
            <button class="header__icon btn-reset" aria-label="Открыть поиск" aria-expanded="false" data-search>
                <svg width="24" height="24">
                    <use href="#icon-search"></use>
                </svg>
            </button>
<!--            <button class="header__icon header__icon&#45;&#45;location btn-reset" data-graph-path="location">-->
<!--                <svg width="24" height="24">-->
<!--                    <use href="#location"></use>-->
<!--                </svg>-->
<!--                <span class="header__text">Санкт-Петербург</span>-->
<!--            </button>-->
        </div>
        <a class="header__logo logo" href="/" aria-label="Логотип ANTE KOVAC">
            <svg class="logo__svg" width="255" height="38">
                <use href="#logo"></use>
            </svg>
        </a>
        <div class="header__bar">
            <a class="header__link" href="#" aria-label="Сменить язык" style="display:none">EN</a>
            <button class="header__icon btn-reset" aria-label="Обратный звонок" data-graph-path="callback" style="display:none">
                <svg width="24" height="24">
                    <use href="#icon-phone"></use>
                </svg>
            </button>
            <a class="header__icon" href="#" aria-label="Личный кабинет">
                <svg width="24" height="24">
                    <use href="#icon-user"></use>
                </svg>
                <span class="header__detail">Фамилия Имя</span>
            </a>
            <a class="header__icon header__icon--count" href="#" aria-label="Избранное">
                <svg width="24" height="24">
                    <use href="#icon-heart"></use>
                </svg>
                <span class="header__count">0</span>
            </a>
            <button id="button-basket" class="header__icon header__icon--count btn-reset" aria-label="Корзина"
                    data-graph-path="basket">
                <svg width="24" height="24">
                    <use href="#icon-bag"></use>
                </svg>
                <span class="header__count">0</span>
            </button>
        </div>
        <aside class="header__aside fixed-block" data-menu-overlay>
            <nav class="header__nav nav" data-hold>
                <ul class="nav__list nav__list--first">
                    <li class="nav__item nav__item--more">
                        <span class="nav__category">Женщинам</span>
                        <ul class="nav__list nav__list--second">
                            <li class="nav__item">
                                <a href="#" class="nav__title">Все товары</a>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Сумки
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Лимитированная коллекция</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сумки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сумки-мини</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Клатчи</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Портфели</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Рюкзаки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Саквояжи</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Суммки-трансформеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Пляжные сумки</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Обувь
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Балетки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Лоферы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сапоги</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Чукки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Мюли</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Туфли</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Аксессуары
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Картхолдеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Ремни</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Органайзеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Несессеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Головные уборы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Портмоне</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Помоламеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Обложки для документов</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Ключницы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Браслеты</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Бабочки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Галстуки</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Одежда
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Меховые изделия</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Изделия из кожи</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Одежда</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Спортивная одежда</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Ante KovaĆ cosmetics</a>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Коллекции
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Империя искусств</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Prodragonist</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сказки Рича и Рауля</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Love из</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Великая Россия</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Эксклюзивно на сайте</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item--more">
                        <span class="nav__category">Мужчинам</span>
                        <ul class="nav__list nav__list--second">
                            <li class="nav__item">
                                <span class="nav__title">Все товары 2</span>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Сумки 2
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Лимитированная коллекция</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сумки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сумки-мини</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Клатчи</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Портфели</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Рюкзаки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Саквояжи</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Суммки-трансформеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Пляжные сумки</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Обувь 2
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Балетки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Лоферы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сапоги</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Чукки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Мюли</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Туфли</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Аксессуары 2
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Картхолдеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Ремни</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Органайзеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Несессеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Головные уборы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Портмоне</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Помоламеры</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Обложки для документов</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Ключницы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Браслеты</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Бабочки</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Галстуки</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Одежда 2
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__title">Все товары</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Меховые изделия</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Изделия из кожи</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Одежда</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Спортивная одежда 2</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Ante KovaĆ cosmetics 2</a>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Коллекции 2
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Империя искусств</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Prodragonist</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Сказки Рича и Рауля</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Love из</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Великая Россия</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Эксклюзивно на сайте 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item nav__item--more nav__item--full">
                        <span class="nav__category">Мир ANTE KOVAĆ</span>
                        <ul class="nav__list nav__list--second">
                            <li class="nav__item">
                                <a href="#" class="nav__link">Ателье</a>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Партнерам</a>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">Новости
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Новости и события</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Fashion-показы</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Лукбук</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Блог</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item nav__item--more">
                                <a href="#" class="nav__link">О нас
                                    <svg width="16" height="16" class="nav__icon">
                                        <use href="/img/sprite.svg#arrow"></use>
                                    </svg>
                                </a>
                                <ul class="nav__list nav__list--third">
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">О модном доме Richard & Raul</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Производство</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Наследие</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Команда</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav__item">
                                <a href="#" class="nav__link">Контакты</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <search class="header__search search">
                <form action="/" class="search__form" data-hold>
                    <label for="search-input" class="search__label label">
                        <input id="search-input" class="search__input input" name="Поиск" type="text"
                               placeholder="Что вы ищете?"/>
                    </label>
                    <div class="search__dropdown">
                        <div class="search__loading">
                            <img class="search__loader" width="50" height="67" src="/upload/demo/img/favicon.png"
                                 alt="Lion"/>
                        </div>
                        <ul class="search__list list-reset" data-hold>
                            <li class="search__item">
                                <img width="53" height="60" src="./img/favourites/card-01.png"
                                     alt="Куртка Авиатор в меху" class="search__image img"/>
                                <a href="#" class="search__link">Куртка Авиатор в меху</a>
                                <span class="search__price">350 000 ₽</span>
                            </li>
                            <li class="search__item">
                                <img width="53" height="60" src="./img/favourites/card-02.png"
                                     alt="Портфель Voyage “Над городом”" class="search__image img"/>
                                <a href="#" class="search__link">Портфель Voyage «Над городом»</a>
                                <span class="search__price">750 000 ₽</span>
                            </li>
                            <li class="search__item">
                                <img width="53" height="60" src="./img/favourites/card-03.png" alt="Тренч из Питона"
                                     class="search__image img"/>
                                <a href="#" class="search__link">Тренч из Питона</a>
                                <span class="search__price">680 000 ₽</span>
                            </li>
                            <li class="search__item">
                                <img width="53" height="60" src="./img/favourites/card-04.png" alt="Дубленка Nude Норка"
                                     class="search__image img"/>
                                <a href="#" class="search__link">Дубленка Nude Норка</a>
                                <span class="search__price">1 150 000 ₽</span>
                            </li>
                            <li class="search__result">
                                <a href="#" class="search__button button">
                                    <span class="button__text">Результаты поиска</span>
                                    <svg width="12" height="12" class="button__icon">
                                        <use href="#arrow"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
                <button class="search__button button button--grey" data-close>
                    <svg width="12" height="12" class="button__icon" stroke-width="2">
                        <use href="#close"></use>
                    </svg>
                    <span class="button__text">Закрыть</span>
                </button>
            </search>
        </aside>
    </div>
</header>