<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="callback">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__title title">Заказать звонок</h2>
      <form action="#" class="graph-modal__form form">
        <div class="form__body">
          <label class="form__label label label--user">
            <input type="text" name="Имя" class="form__input input" placeholder="Ваше имя">
          </label>
          <label class="form__label label label--tel">
            <input type="tel" name="Телефон" class="form__input input" placeholder="Телефон">
          </label>
        </div>
        <p class="form__descriptions">
          Нажимая на кнопку «отправить» вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
        </p>
        <button type="submit" class="form__button button button--big">
          <span class="button__text">Отправить</span>
          <svg class="button__icon" width="14" height="14">
            <use xlink:href="./img/sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="location">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__title title title--new">Выберите свой город</h2>
      <form action="#" class="graph-modal__form form city-form">
        <div class="form__body">
          <label class="form__label label label--search">
            <input type="text" id="city-search" name="Поиск-города" class="form__input input" placeholder="Поиск города">
          </label>
          <ul class="form__radio-list list-reset">
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Москва">
                <span class="radio__name">
                    <span class="radio__text">Москва</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Санкт-Петербург">
                <span class="radio__name">
                    <span class="radio__text">Санкт-Петербург</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Мурманск">
                <span class="radio__name">
                    <span class="radio__text">Мурманск</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Казань">
                <span class="radio__name">
                    <span class="radio__text">Казань</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Химки">
                <span class="radio__name">
                    <span class="radio__text">Химки</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Липецк">
                <span class="radio__name">
                    <span class="radio__text">Липецк</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Ярославль">
                <span class="radio__name">
                    <span class="radio__text">Ярославль</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Владивосток">
                <span class="radio__name">
                    <span class="radio__text">Владивосток</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Воронеж">
                <span class="radio__name">
                    <span class="radio__text">Воронеж</span>
                </span>
              </label>
            </li>
            <li class="form__radio radio city-item">
              <label class="radio__label">
                <input class="radio__input input-reset" type="radio" name="Город"
                       value="Хабаровск">
                <span class="radio__name">
                    <span class="radio__text">Хабаровск</span>
                </span>
              </label>
            </li>
          </ul>
        </div>
        <button type="submit" class="form__button button button--big button--outline">
          <span class="button__text">Выбрать</span>
          <svg class="button__icon" width="14" height="14">
            <use xlink:href="./img/sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container--message" role="dialog" aria-modal="true" data-graph-target="message">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__title title title--new">Написать письмо директору</h2>
      <form action="#" class="graph-modal__form form">
        <div class="form__body">
          <label class="form__label label label--user">
            <input type="text" name="Имя" class="form__input input" required placeholder="Ваше имя *">
          </label>
          <label class="form__label label label--email">
            <input type="email" name="Email" class="form__input input" required placeholder="Email *">
          </label>
          <label class="form__label label label--tel">
            <input type="tel" name="Телефон" class="form__input input" placeholder="Телефон">
          </label>
          <span class="form__descriptions">* обязательное поле для заполнения</span>
          <label class="form__label label label--text">
            <textarea name="Сообщение" class="form__input input" placeholder="Сообщение"></textarea>
          </label>
        </div>
        <p class="form__descriptions">
          Нажимая на кнопку «отправить» вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
        </p>
        <button type="submit" class="form__button button button--big button--outline">
          <span class="button__text">Отправить</span>
          <svg class="button__icon" width="14" height="14">
            <use xlink:href="./img/sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="product-remove">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__title title">Вы точно хотите удалить товар?</h2>
      <p class="graph-modal__subtitle subtitle">Вы точно хотите удалить выбранный товар? Отменить данное действие будет невозможно.</p>
      <button class="graph-modal__button button button--big">
        <span class="button__text">Удалить</span>
        <svg class="button__icon" width="14" height="14">
          <use xlink:href="./img/sprite.svg#arrow-btn"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="product-callback">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <h2 class="graph-modal__title title">Сообщить о поступлении</h2>
      <form action="#" class="graph-modal__form form">
        <div class="form__body">
          <label class="form__label label label--email">
            <input type="email" name="Email" class="form__input input" placeholder="Email">
          </label>
        </div>
        <p class="form__descriptions">
          Нажимая на кнопку «отправить» вы соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности</a>
        </p>
        <button type="submit" class="form__button button button--big">
          <span class="button__text">Отправить</span>
          <svg class="button__icon" width="14" height="14">
            <use xlink:href="./img/sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="graph-modal__content" style="display: none">
      <div class="graph-modal__icon icon-confirmation">
        <svg width="40" height="40">
          <use xlink:href="./img/sprite.svg#check"></use>
        </svg>
      </div>
      <h2 class="graph-modal__title title">Вы уже подписаны на товар</h2>
    </div>
    <div class="graph-modal__content" style="display:none">
      <div class="graph-modal__icon icon-confirmation">
        <svg width="40" height="40">
          <use xlink:href="./img/sprite.svg#check"></use>
        </svg>
      </div>
      <h2 class="graph-modal__title title">Спасибо за подписку на товар</h2>
      <p class="graph-modal__subtitle subtitle">Мы уведомим вас как только он появится в наличии на указанный email</p>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container--product" role="dialog" aria-modal="true" data-graph-target="product">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content product-modal">
      <h2 class="product-modal__title title">Товар добавлен в корзину</h2>
      <form action="#" class="product-modal__form">
<!--        <div class="product-modal__wrap">-->
<!--          <img width="280" height="320" class="product-modal__image img" src="./img/product/bag/picture-01.png" alt="Портфель Voyage «Над городом»">-->
<!--          <div class="product-modal__body">-->
<!--            <h3 class="product-modal__heading">Портфель Voyage «Над городом»</h3>-->
<!--            <ul class="product-modal__list">-->
<!--              <li class="product-modal__item">-->
<!--                <span class="product-modal__caption">Размер:</span>-->
<!--                <span class="product-modal__text">M</span>-->
<!--              </li>-->
<!--              <li class="product-modal__item">-->
<!--                <span class="product-modal__caption">Цвет:</span>-->
<!--                <span class="product-modal__text">Черный</span>-->
<!--              </li>-->
<!--            </ul>-->
<!--            <output class="product-modal__output" name="Итого:" id="product-price-total">2 560 000 ₽</output>-->
<!--            <div class="product-modal__row">-->
<!--              <a href="/cart.html" class="product-modal__button button button&#45;&#45;big button&#45;&#45;grey">-->
<!--                <span class="button__text">Перейти в корзину</span>-->
<!--                <svg class="button__icon" width="14" height="14">-->
<!--                  <use xlink:href="./img/sprite.svg#arrow-btn"></use>-->
<!--                </svg>-->
<!--              </a>-->
<!--              <a href="/checkout.html" class="product-modal__button button button&#45;&#45;big">-->
<!--                <span class="button__text">Оформить заказ</span>-->
<!--                <svg class="button__icon" width="18" height="18">-->
<!--                  <use xlink:href="./img/sprite.svg#icon-bag"></use>-->
<!--                </svg>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </form>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container--order" role="dialog" aria-modal="true" data-graph-target="order">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content order-modal">
      <div class="order-modal__head">
        <h2 class="order-modal__title">№ 1244512</h2>
        <div class="order-modal__status button button--light">
          <span class="button__text">Принят</span>
          <svg class="button__icon" width="12" height="12" stroke-width="0">
            <use xlink:href="./img/sprite.svg#update"></use>
          </svg>
        </div>
        <time class="order-modal__time" datetime="2024-07-18">18 июля 2024</time>
      </div>
      <ul class="order-modal__list list-reset">
        <li class="order-modal__item">
          <div class="order-modal__picture">
            <picture>
              <source srcset="./img/order/image-01.webp" type="image/webp" />
              <img class="order-modal__image img" width="62" height="70" src="./img/order/image-01.png" alt="Фото" />
            </picture>
          </div>
          <div class="order-modal__info">
            <h3 class="order-modal__caption">Куртка Авиатор в меху</h3>
            <p class="order-modal__count">1 шт</p>
          </div>
          <div class="order-modal__price">1 580 000 ₽</div>
        </li>
        <li class="order-modal__item">
          <div class="order-modal__picture">
            <picture>
              <source srcset="./img/order/image-01.webp" type="image/webp" />
              <img class="order-modal__image img" width="62" height="70" src="./img/order/image-01.png" alt="Фото" />
            </picture>
          </div>
          <div class="order-modal__info">
            <h3 class="order-modal__caption">Куртка Авиатор в меху</h3>
            <p class="order-modal__count">1 шт</p>
          </div>
          <div class="order-modal__price">1 580 000 ₽</div>
        </li>
        <li class="order-modal__item">
          <div class="order-modal__picture">
            <picture>
              <source srcset="./img/order/image-01.webp" type="image/webp" />
              <img class="order-modal__image img" width="62" height="70" src="./img/order/image-01.png" alt="Фото" />
            </picture>
          </div>
          <div class="order-modal__info">
            <h3 class="order-modal__caption">Куртка Авиатор в меху</h3>
            <p class="order-modal__count">1 шт</p>
          </div>
          <div class="order-modal__price">1 580 000 ₽</div>
        </li>
        <li class="order-modal__item">
          <div class="order-modal__picture">
            <picture>
              <source srcset="./img/order/image-01.webp" type="image/webp" />
              <img class="order-modal__image img" width="62" height="70" src="./img/order/image-01.png" alt="Фото" />
            </picture>
          </div>
          <div class="order-modal__info">
            <h3 class="order-modal__caption">Куртка Авиатор в меху</h3>
            <p class="order-modal__count">1 шт</p>
          </div>
          <div class="order-modal__price">1 580 000 ₽</div>
        </li>
        <li class="order-modal__item">
          <div class="order-modal__picture">
            <picture>
              <source srcset="./img/order/image-01.webp" type="image/webp" />
              <img class="order-modal__image img" width="62" height="70" src="./img/order/image-01.png" alt="Фото" />
            </picture>
          </div>
          <div class="order-modal__info">
            <h3 class="order-modal__caption">Куртка Авиатор в меху</h3>
            <p class="order-modal__count">1 шт</p>
          </div>
          <div class="order-modal__price">1 580 000 ₽</div>
        </li>
        <li class="order-modal__item">
          <div class="order-modal__picture">
            <picture>
              <source srcset="./img/order/delivery.webp" type="image/webp" />
              <img class="order-modal__image img" width="62" height="70" src="./img/order/delivery.png" alt="Доставка" />
            </picture>
          </div>
          <div class="order-modal__info">
            <h3 class="order-modal__caption">Стоимость доставки</h3>
          </div>
          <div class="order-modal__price">1 200 ₽</div>
        </li>
      </ul>
      <div class="order-modal__details">
        <div class="order-modal__col">
          <p class="order-modal__subtitle">Способ доставки:</p>
          <p class="order-modal__text">Курьером</p>
        </div>
        <div class="order-modal__col">
          <p class="order-modal__subtitle">Способ оплаты:</p>
          <p class="order-modal__text">Наличными</p>
        </div>
        <div class="order-modal__col">
          <p class="order-modal__subtitle">Итого:</p>
          <p class="order-modal__total">3 651 200 ₽</p>
        </div>
      </div>
      <div class="order-modal__bottom">
        <a href="#" class="order-modal__button button" id="button-cancel-order">
          <span class="button__text">Отменить заказ</span>
        </a>
        <a href="#" class="order-modal__button button button--grey">
          <span class="button__text">Повторить заказ</span>
          <svg class="button__icon" width="14" height="14">
            <use xlink:href="./img/sprite.svg#arrow-btn"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="graph-modal__container graph-modal__container--basket" role="dialog" aria-modal="true" data-graph-target="basket">
    <div class="graph-modal__basket basket">
      <h2 class="basket__title title">Ваша корзина</h2>
      <form action="#" class="basket__form">
        <ul class="basket__list list-reset">
<!--      <li class="basket__item item-basket">
            <img width="35" height="40" class="item-basket__image img" src="./img/catalog/card-01.png" alt="Куртка Авиатор в меху">
            <a href="#" class="item-basket__link">
              <h3 class="item-basket__title">Куртка Авиатор в меху</h3>
            </a>
            <div class="item-basket__quantity quantity">
              <button class="quantity__button quantity__button--decrement" aria-label="Убавить количество"></button>
              <span class="quantity__count">1</span>
              <button class="quantity__button quantity__button--increment" aria-label="Добавить количество"></button>
            </div>
            <output class="item-basket__output" name="Цена: ">350 000 ₽</output>
            <button class="item-basket__remove" aria-label="Удалить товар"></button>
          </li>-->
        </ul>
        <button id="basket-button-more" type="button" class="basket__button button button--grey">
          <span class="button__text">Смотреть еще <span class="button__count">2 позиции</span></span>
          <svg class="button__icon button__icon--down" width="12" height="18" stroke-width="0">
            <use xlink:href="./img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <div class="basket__total">
          <span class="basket__subtext">Итого:</span>
          <output class="basket__output" name="Итого:" id="basket-price-total">2 560 000 ₽</output>
        </div>
        <div class="basket__row">
          <a href="/cart.html" class="basket__button button button--big button--grey">
            <span class="button__text">Перейти в корзину</span>
            <svg class="button__icon" width="14" height="14">
              <use xlink:href="./img/sprite.svg#arrow-btn"></use>
            </svg>
          </a>
          <a href="/checkout.html" class="basket__button button button--big">
            <span class="button__text">Оформить заказ</span>
            <svg class="button__icon" width="18" height="18">
              <use xlink:href="./img/sprite.svg#icon-bag"></use>
            </svg>
          </a>
        </div>
      </form>
      <a href="#" id="basket-button-null" class="basket__button button button--big button--grey">
        <span class="button__text">Перейти в каталог</span>
        <svg class="button__icon" width="14" height="14">
          <use xlink:href="./img/sprite.svg#arrow-btn"></use>
        </svg>
      </a>
    </div>
  </div>
</div>