<section class="news">
   <div class="news__container container">
      <div class="news__breadcrumbs breadcrumbs">
         <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
               <a href="#" class="breadcrumbs__link" title="Главная"></a>
            </li>
            <li class="breadcrumbs__item">Новости</li>
         </ul>
      </div>
      <h1 class="news__title title">Новости</h1>
      <ul class="news__list list-reset">
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="./img/news/news-01-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="./img/news/news-01-mobile.png" media="(max-width: 768px)" />
                     <source srcset="./img/news/news-01.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="./img/news/news-01.png" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <time class="article-news__time" datetime="2024-07-27">27 июля 2024</time>
               <h2 class="article-news__title">Дом моды RICH&RAUL открыт</h2>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="./img/news/news-02-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="./img/news/news-02-mobile.png" media="(max-width: 768px)" />
                     <source srcset="./img/news/news-02.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="./img/news/news-02.png" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <time class="article-news__time" datetime="2024-07-18">18 июля 2024</time>
               <h2 class="article-news__title">Гастропаб Александра Раппопорта «Бибирево»</h2>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="./img/news/news-03-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="./img/news/news-03-mobile.png" media="(max-width: 768px)" />
                     <source srcset="./img/news/news-03.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="./img/news/news-03.png" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <time class="article-news__time" datetime="2024-07-18">18 июля 2024</time>
               <h2 class="article-news__title">Fashion TV 2024</h2>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__play play">
                  <video class="play__video" preload="false" width="573" height="375" poster="./img/news/video-poster.jpg" playsinline="playsinline" loop="loop" muted="muted">
                     <source data-desktop-src="./video-desktop.webm" data-mobile-src="./video-mobile.webm" type="video/webm" />
                     <source data-desktop-src="./video-desktop.mp4" data-mobile-src="./video-mobile.mp4" type="video/mp4" />
                  </video>
                  <button class="play__button btn-reset" type="button" class="btn-reset"></button>
               </div>
               <time class="article-news__time" datetime="2024-07-27">27 июля 2024</time>
               <h2 class="article-news__title">Дом моды RICH&RAUL открыт</h2>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="./img/news/news-05-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="./img/news/news-05-mobile.png" media="(max-width: 768px)" />
                     <source srcset="./img/news/news-05.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="./img/news/news-05.png" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <time class="article-news__time" datetime="2024-05-30">30 мая 2024</time>
               <h2 class="article-news__title">ProDRAGONист</h2>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="./img/news/news-06-mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="./img/news/news-06-mobile.png" media="(max-width: 768px)" />
                     <source srcset="./img/news/news-06.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="./img/news/news-06.png" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <time class="article-news__time" datetime="2024-04-05">05 апреля 2024</time>
               <h2 class="article-news__title">Fashion Week St. Petersburg 2024</h2>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
      </ul>
      <div class="news__pages pages">
         <button class="pages__button button button--grey">
            <span class="button__text">Загрузить еще</span>
            <svg class="button__icon button__icon--down" width="12" height="18" stroke-width="0">
               <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
         </button>
         <ul class="pages__list list-reset">
            <li class="pages__item pages__item--arrow">
               <a href="#" class="pages__link"></a>
            </li>
            <li class="pages__item">
               <a href="#" class="pages__link">1</a>
            </li>
            <li class="pages__item pages__item--active">2</li>
            <li class="pages__item pages__item--dots">…</li>
            <li class="pages__item">
               <a href="#" class="pages__link">14</a>
            </li>
            <li class="pages__item">
               <a href="#" class="pages__link">15</a>
            </li>
            <li class="pages__item pages__item--arrow">
               <a href="#" class="pages__link"></a>
            </li>
         </ul>
      </div>
   </div>
</section>