<section class="product">
    <div class="product__container container">
        <div class="product__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Каталог</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Woman</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Сумки</a>
                </li>
                <li class="breadcrumbs__item">
                    Портфель Voyage «Над городом»
                </li>
            </ul>
        </div>
        <div class="product__wrapper">
            <div class="product__gallery">

            </div>
            <div class="product__info">
                <form action="" class="product__form">
                    <div class="product__brand">
                        Бренд
                        <img width="67" height="20" src="./img/brands/ante-kovac.png" alt="ANTE KOVAC">
                    </div>
                    <h1 class="product__title">Портфель Voyage «Над городом»</h1>
                    <p class="product__subtitle">Пример краткого описания в одну строку</p>
                    <div class="product__parameter parameter-product">
                        <div class="parameter-product__col">
                            <p class="parameter-product__caption">Размеры</p>
                            <div class="parameter-product__item">
                                <p class="parameter-product__text">36*33*11</p>
                            </div>
                        </div>
                        <div class="parameter-product__col">
                            <p class="parameter-product__caption">Материал</p>
                            <div class="parameter-product__item">
                                <img class="parameter-product__icon" width="24" height="24" src="./img/filter/crocodile.png" alt="Кожа крокодила">
                                <p class="parameter-product__text">Кожа крокодил</p>
                            </div>
                        </div>
                        <div class="parameter-product__col">
                            <p class="parameter-product__caption">Размеры</p>
                            <div class="parameter-product__item">
                                <img class="parameter-product__icon" width="24" height="24" src="./img/filter/crocodile.png" alt="Кожа крокодила">
                                <p class="parameter-product__text">Кожа крокодил</p>
                            </div>
                        </div>
                        <div class="parameter-product__col">
                            <p class="parameter-product__caption">Аромат</p>
                            <div class="parameter-product__item">
                                <p class="parameter-product__text">Персик и лайм</p>
                            </div>
                        </div>
                    </div>
                    <div class="product__collection collection-product">
                        <img class="collection-product__icon" width="12" height="16" src="./img/favicon.png" alt="favicon">
                        <p class="collection-product__text">Коллекция Винсент Ван Гог</p>
                    </div>
                    <div class="product__confirm">
                        <div class="product__value value">
                            <output class="value__discount" name="Скидка: ">-20%</output>
                            <output class="value__old" name="Без-скидки: ">350 000 ₽</output>
                            <output class="value__price" name="Итого: ">1 610 000 ₽</output>
                        </div>
                        <button type="button" class="product__button button button--big">
                            <span class="button__text">Добавить в корзину</span>
                            <svg class="button__icon" width="18" height="18">
                                <use xlink:href="./img/sprite.svg#icon-bag"></use>
                            </svg>
                        </button>
                    </div>
                </form>
                <div class="product__description">

                </div>
                <button class="product__heart btn-reset" aria-label="Добавить в избранное">
                    <svg class="product__icon" width="30" height="30" stroke-width="0">
                        <use xlink:href="./img/sprite.svg#icon-heart"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>