<section class="production">
   <div class="production__container container">
      <div class="production__breadcrumbs breadcrumbs">
         <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
               <a href="#" class="breadcrumbs__link" title="Дом моды Richard& Raul"></a>
            </li>
            <li class="breadcrumbs__item">Производство</li>
         </ul>
      </div>
      <h1 class="production__title title">Производство</h1>
      <div class="production__play play">
         <video class="play__video" preload="false" width="1920" height="900" poster="" playsinline="playsinline" loop="loop" muted="muted">
            <source data-desktop-src="/upload/demo/video/production.mp4" data-mobile-src="/upload/demo/video/production_mobile.mp4" type="video/mp4" />
         </video>
         <button class="play__button btn-reset" type="button" class="btn-reset"></button>
      </div>
      <p class="production__subtitle subtitle">Качество&nbsp;— наш главный приоритет. Мы&nbsp;используем только лучшие материалы и&nbsp;уделяем пристальное внимание каждой детали, от&nbsp;выбора ткани до&nbsp;финальной отделки. Благодаря этому каждое изделие Ante Kovac&nbsp;— это воплощение безупречного стиля и&nbsp;долговечности.</p>
      <ul class="production__list list-reset">
         <li class="production__item">
            <div class="production__thumb">
               <picture>
                  <source srcset="/upload/demo/img/production/production_01_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/production/production_01_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/production/production_01.webp" type="image/webp" />
                  <img class="production__image img" width="574" height="522" src="/upload/demo/img/production/production_01.jpg" alt="Производство" />
               </picture>
            </div>
            <h2 class="production__subject">Источник материала</h2>
            <p class="production__text">Мы&nbsp;выбираем кожу с&nbsp;историей&nbsp;— натуральную, живую, способную стареть красиво. Каждая фактура, каждая неровность&nbsp;— часть её&nbsp;характера.</p>
         </li>
         <li class="production__item">
            <div class="production__thumb">
               <picture>
                  <source srcset="/upload/demo/img/production/production_02_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/production/production_02_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/production/production_02.webp" type="image/webp" />
                  <img class="production__image img" width="574" height="522" src="/upload/demo/img/production/production_02.jpg" alt="Производство" />
               </picture>
            </div>
            <h2 class="production__subject">Ручная работа</h2>
            <p class="production__text">Каждое изделие создаётся вручную&nbsp;— без&nbsp;спешки, без&nbsp;потери смысла. Мастер знает: движение руки&nbsp;— продолжение мысли.</p>
         </li>
         <li class="production__item">
            <div class="production__thumb">
               <picture>
                  <source srcset="/upload/demo/img/production/production_03_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/production/production_03_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/production/production_03.webp" type="image/webp" />
                  <img class="production__image img" width="574" height="522" src="/upload/demo/img/production/production_03.jpg" alt="Производство" />
               </picture>
            </div>
            <h2 class="production__subject">Точность и&nbsp;детали</h2>
            <p class="production__text">Мелочи решают&nbsp;всё. От&nbsp;стежка до&nbsp;изгиба&nbsp;— мастер доводит форму до&nbsp;состояния внутреннего равновесия.</p>
         </li>
         <li class="production__item">
            <div class="production__thumb">
               <picture>
                  <source srcset="/upload/demo/img/production/production_04_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/production/production_04_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/production/production_04.webp" type="image/webp" />
                  <img class="production__image img" width="574" height="522" src="/upload/demo/img/production/production_04.jpg" alt="Производство" />
               </picture>
            </div>
            <h2 class="production__subject">Традиция и&nbsp;характер</h2>
            <p class="production__text">Производство Ante Kovać&nbsp;— это не&nbsp;конвейер, а&nbsp;мастерская, где ремесло становится искусством. Бренд соединяет старинные техники и&nbsp;современные идеи.</p>
         </li>
         <li class="production__item">
            <div class="production__thumb">
               <picture>
                  <source srcset="/upload/demo/img/production/production_05_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/production/production_05_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/production/production_05.webp" type="image/webp" />
                  <img class="production__image img" width="574" height="522" src="/upload/demo/img/production/production_05.jpg" alt="Производство" />
               </picture>
            </div>
            <h2 class="production__subject">Душа изделия</h2>
            <p class="production__text">Каждая вещь проходит через руки мастера. Поэтому у&nbsp;каждого изделия&nbsp;— свой почерк, свой характер, своё дыхание.</p>
         </li>
         <li class="production__item">
            <div class="production__thumb">
               <picture>
                  <source srcset="/upload/demo/img/production/production_06_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/production/production_06_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/production/production_06.webp" type="image/webp" />
                  <img class="production__image img" width="574" height="522" src="/upload/demo/img/production/production_06.jpg" alt="Производство" />
               </picture>
            </div>
            <h2 class="production__subject">Закулисье бренда</h2>
            <p class="production__text">Производство&nbsp;— это сердце Ante Kovać. Там, где ритм инструментов, запах кожи и&nbsp;свет ламп создают атмосферу подлинности.</p>
         </li>
      </ul>
   </div>
</section>