<section class="interest">
    <div class="interest__container container">
        <h2 class="news__title title">Будет интересно</h2>
        <div class="interest__swiper swiper">
            <div class="interest__wrapper swiper-wrapper">
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-01-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-01.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-01.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Рюкзак Сити «Человек в котелке»</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">780 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-02-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-02.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-02.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Клатч Бумеранг «Хребет Дракона»</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">750 000 ₽</div>
                        </div>
                        <button class="card__heart card__heart--active btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-03-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-03.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-03.png" alt="card">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-03-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-03.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-03.png" alt="card">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-03-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-03-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-03.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-03.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Портфель Voyage Croco в Черном</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">640 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-04-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-04-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-04.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-04.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Клатч Комета «Человек в котелке</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__sell">-20%</div>
                            <div class="price__cost price__cost--old">1 150 000 ₽</div>
                            <div class="price__cost">950 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-05-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-05-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-05.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-05.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Клатч Версаль «Дракон»</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">830 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-06-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-06-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-06.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-06.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Портфель Voyage «Поцелуй»</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">830 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-07-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-07-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-07.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-07.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Дубленка Nude Норка</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">670 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
                <div class="interest__slide swiper-slide">
                    <article class="interest__card card">
                        <div class="card__swiper swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="./img/catalog/card-08-mobile.webp" media="(max-width: 768px)" type="image/webp">
                                        <source srcset="./img/catalog/card-08-mobile.png" media="(max-width: 768px)">
                                        <source srcset="./img/catalog/card-08.webp" type="image/webp">
                                        <img class="card__image img" width="420" height="480" src="./img/catalog/card-08.png" alt="card">
                                    </picture>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <h2 class="card__title">
                            <a href="#" class="card__link">Клатч Версаль «Портрет девушки»</a>
                        </h2>
                        <div class="card__price price">
                            <div class="price__cost">780 000 ₽</div>
                        </div>
                        <button class="card__heart btn-reset" aria-label="Добавить в избранное">
                            <svg class="card__icon" width="30" height="30" stroke-width="0">
                                <use xlink:href="./img/sprite.svg#icon-heart"></use>
                            </svg>
                        </button>
                    </article>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>