<section class="slider-about">
    <div class="slider-about__container">
        <div class="slider-about__swiper swiper swiper--main swiper-initialized swiper-horizontal swiper-backface-hidden swiper--light">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/image_hero_mobile.jpg" media="(max-width: 768px)">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/image_hero_desktop.jpg">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
        </div>
    </div>
</section>