<section class="team">
   <div class="team__container container">
      <div class="team__breadcrumbs breadcrumbs">
         <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
               <a href="#" class="breadcrumbs__link" title="Дом моды Richard& Raul"></a>
            </li>
            <li class="breadcrumbs__item">Команда</li>
         </ul>
      </div>
      <h1 class="team__title title">Команда</h1>
      <p class="team__subtitle subtitle">За каждой вещью Ante Kovac стоит команда талантливых людей, увлеченных своим делом и разделяющих ценности бренда: мастерство, качество и индивидуальность.</p>
      <ul class="team__list list-reset">
         <li class="team__item">
            <div class="team__avatar">
               <picture>
                  <source srcset="/upload/demo/img/gendir_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/gendir_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/gendir.webp" type="image/webp" />
                  <img class="team__image img" width="497" height="745" src="/upload/demo/img/gendir.jpg" alt="Генеральный директор" />
               </picture>
            </div>
            <h2 class="team__name">Хафизова Надежда Рафаиловна</h2>
            <p class="team__position">Генеральный директор</p>
         </li>
         <li class="team__item">
            <div class="team__avatar">
               <picture>
                  <source srcset="/upload/demo/img/artdir_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/artdir_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/artdir.webp" type="image/webp" />
                  <img class="team__image img" width="497" height="745" src="/upload/demo/img/artdir.jpg" alt="Арт-директор" />
               </picture>
            </div>
            <h2 class="team__name">Бубнов Алексей Витальевич</h2>
            <p class="team__position">Арт-директор</p>
         </li>
      </ul>
   </div>
</section>