<section class="conditions">
    <div class="conditions__container container">
        <div class="conditions__row">
            <div class="conditions__picture">
                <picture>
                    <source srcset="./img/partners/conditions-01-mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="./img/partners/conditions-01-mobile.png" media="(max-width: 768px)">
                    <source srcset="./img/partners/conditions-01.webp" type="image/webp">
                    <img class="conditions__image img" width="900" height="570" src="./img/partners/conditions-01.png" alt="Фото бренда">
                </picture>
            </div>
            <div class="conditions__content">
                <h2 class="conditions__title">Оптовые продажи</h2>
                <p class="conditions__text text">ANTE KOVAC сегодня&nbsp;— это уникальные арт-объекты, применимые в&nbsp;повседневной жизни, обладание которыми способствует самовыражению в&nbsp;обход шаблонных стереотипов. Каждое изделие расписывается художником вручную, мастера вкладывают всю свою душу, а&nbsp;изделие сохраняет теплоту творческих&nbsp;рук. Если&nbsp;вы&nbsp;хотите стать представителем бренда в&nbsp;формате мультибренда, заполните форму заявки ниже.</p>
                <p class="conditions__text text">Отдел оптовых продаж ANTE KOVAC рассмотрит заявку в&nbsp;кратчайшие сроки, а&nbsp;затем наш менеджер свяжется с&nbsp;вами по&nbsp;указанным контактам.</p>
            </div>
        </div>
        <div class="conditions__row">
            <div class="conditions__picture">
                <picture>
                    <source srcset="./img/partners/conditions-02-mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="./img/partners/conditions-02-mobile.png" media="(max-width: 768px)">
                    <source srcset="./img/partners/conditions-02.webp" type="image/webp">
                    <img class="conditions__image img" width="900" height="570" src="./img/partners/conditions-02.png" alt="Фото бренда">
                </picture>
            </div>
            <div class="conditions__content">
                <h2 class="conditions__title">Условия сотрудничества</h2>
                <p class="conditions__subtitle">Мы&nbsp;предлагаем партнерам оптовые закупки на&nbsp;следующих условиях:</p>
                <ul class="conditions__list list-reset">
                    <li class="conditions__item text">Сотрудничество осуществляется только с&nbsp;юридическими лицами и&nbsp;индивидуальными предпринимателями;</li>
                    <li class="conditions__item text">Работа ведется по&nbsp;предварительным заказам и&nbsp;по&nbsp;свободному складу;</li>
                    <li class="conditions__item text">Оплата производится по&nbsp;безналичному расчету;</li>
                    <li class="conditions__item text">Отгрузка со&nbsp;склада в&nbsp;МO;</li>
                    <li class="conditions__item text">Компания ANTE KOVAC берет на&nbsp;себя таможенное оформление и&nbsp;маркировку товара в&nbsp;рамках требований законодательства РФ</li>
                </ul>
            </div>
        </div>
    </div>
</section>