<div class="theses__grid theses__picture--clip">
    <div class="theses__picture">
        <picture>
    <source srcset="/upload/demo/img/news/@slug/@img1@0.5x.webp" media="(max-width: 768px)" type="image/webp">
    <source srcset="/upload/demo/img/news/@slug/@img1@0.5x.jpg" media="(max-width: 768px)">
    <source srcset="/upload/demo/img/news/@slug/@img1.webp" type="image/webp">
    <img class="theses__image img" width="@w" height="@h" src="/upload/demo/img/news/@slug/@img1.jpg" alt="@alt">
</picture>

    </div>
    <div class="theses__picture">
        <picture>
    <source srcset="/upload/demo/img/news/@slug/@img2@0.5x.webp" media="(max-width: 768px)" type="image/webp">
    <source srcset="/upload/demo/img/news/@slug/@img2@0.5x.jpg" media="(max-width: 768px)">
    <source srcset="/upload/demo/img/news/@slug/@img2.webp" type="image/webp">
    <img class="theses__image img" width="@w" height="@h" src="/upload/demo/img/news/@slug/@img2.jpg" alt="@alt">
</picture>

    </div>

</div>