<section class="atelier">
    <div class="atelier__container container">
        <div class="atelier__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    Ателье
                </li>
            </ul>
        </div>
    </div>
    <div class="atelier__container">
        <div class="atelier__swiper swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-theme="light">
                    <div class="atelier__wrap">
                        <h2 class="atelier__title title">Ателье</h2>
                        <p class="atelier__subtitle subtitle">Экслюзивность и стиль — в каждом изделии</p>
                    </div>
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/atelier_new/hero_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/atelier_new/hero_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/atelier_new/hero_01.webp" type="image/webp">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/atelier_new/hero_01.jpg" alt="Hero">
                        </picture>
                    </div>
                    <a class="swiper__link swiper__link--null" href="#" aria-label="Ссылка на что-то"></a>
                </div>
                <div class="swiper-slide" data-theme="dark">
                    <div class="atelier__wrap">
                        <h2 class="atelier__title title">Ателье</h2>
                        <p class="atelier__subtitle subtitle">Экслюзивность и стиль — в каждом изделии</p>
                    </div>
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/atelier_new/hero_01_inverted_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/atelier_new/hero_01_inverted_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/atelier_new/hero_01_inverted.webp" type="image/webp">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/atelier_new/hero_01_inverted.jpg" alt="Hero">
                        </picture>
                    </div>
                    <a class="swiper__link swiper__link--null" href="#" aria-label="Ссылка на что-то"></a>
                </div>
                <div class="swiper-slide" data-theme="light">
                    <div class="atelier__wrap">
                        <h2 class="atelier__title title">Ателье</h2>
                        <p class="atelier__subtitle subtitle">Экслюзивность и стиль — в каждом изделии</p>
                    </div>
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/atelier_new/hero_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/atelier_new/hero_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/atelier_new/hero_01.webp" type="image/webp">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/atelier_new/hero_01.jpg" alt="Hero">
                        </picture>
                    </div>
                    <a class="swiper__link swiper__link--null" href="#" aria-label="Ссылка на что-то"></a>
                </div>
                <div class="swiper-slide" data-theme="dark">
                    <div class="atelier__wrap">
                        <h2 class="atelier__title title">Ателье</h2>
                        <p class="atelier__subtitle subtitle">Экслюзивность и стиль — в каждом изделии</p>
                    </div>
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/atelier_new/hero_01_inverted_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/atelier_new/hero_01_inverted_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/atelier_new/hero_01_inverted.webp" type="image/webp">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/atelier_new/hero_01_inverted.jpg" alt="Hero">
                        </picture>
                    </div>
                    <a class="swiper__link swiper__link--null" href="#" aria-label="Ссылка на что-то"></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>