<section class="gallery">
    <div class="gallery__container">
        <h2 class="gallery__title title title--h2">
            Галерея
        </h2>
        <div class="gallery__swiper swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="gallery__link" href="/upload/demo/img/atelier_new/slide_01.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/upload/demo/img/atelier_new/slide_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/atelier_new/slide_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/atelier_new/slide_01.webp" type="image/webp">
                            <img class="gallery__image img" width="960" height="720" src="/upload/demo/img/atelier_new/slide_01.jpg" alt="Gallery">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="gallery__link" href="/upload/demo/img/atelier_new/slide_02.jpg" data-fancybox="gallery">
                        <picture>
                            <source srcset="/upload/demo/img/atelier_new/slide_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/atelier_new/slide_02_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/atelier_new/slide_02.webp" type="image/webp">
                            <img class="gallery__image img" width="960" height="720" src="/upload/demo/img/atelier_new/slide_02.jpg" alt="Gallery">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>