<section class="services">
    <div class="services__container container container--holder">
        <h2 class="services__title title title--h2">Дополнительные услуги Atelier</h2>
        <ul class="services__list list-reset">
            <li class="services__item">Изготовление обуви из экзотической кожи</li>
            <li class="services__item">Изготовление сумок любой сложности из экзотической кожи</li>
            <li class="services__item">Ручная роспись на любой коже</li>
            <li class="services__item">Ручная вышивка и декор</li>
            <li class="services__item">Индивидуальный пошив изделий из кожи и меха</li>
            <li class="services__item">Ремонт и восстановление аксессуаров</li>
            <li class="services__item">Пошив одежды, аксессуаров из коллекций ANTE KOVAC по индивидуальным меркам</li>
        </ul>
    </div>
</section>