<section class="services">
    <div class="services__container container container--holder">
        <h2 class="services__title title title--h2">Дополнительные услуги Atelier</h2>
        <ul class="services__list list-reset">
            <li class="services__item">Изготовление обуви из&nbsp;экзотической кожи</li>
            <li class="services__item">Изготовление сумок любой сложности из&nbsp;экзотической кожи</li>
            <li class="services__item">Ручная роспись на&nbsp;любой коже</li>
            <li class="services__item">Ручная вышивка и&nbsp;декор</li>
            <li class="services__item">Индивидуальный пошив изделий из&nbsp;кожи&nbsp;и&nbsp;меха</li>
            <li class="services__item">Ремонт и&nbsp;восстановление аксессуаров</li>
            <li class="services__item">Пошив одежды, аксессуаров из&nbsp;коллекций ANTE KOVAC по&nbsp;индивидуальным меркам</li>
        </ul>
    </div>
</section>