<section class="steps">
   <div class="steps__container container">
      <h2 class="steps__title title title--h2">Мы ценим ваше время</h2>
      <ul class="steps__list list-reset">
         <li class="steps__item">
            <div class="steps__head">
               <picture>
                  <source srcset="/upload/demo/img/atelier_new/item_01_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/atelier_new/item_01_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/atelier_new/item_01.webp" type="image/webp" />
                  <img class="steps__image img" width="573" height="520" src="/upload/demo/img/atelier_new/item_01.jpg" alt="Atelier" />
               </picture>
            </div>
            <div class="steps__content">
               <h3 class="steps__caption">Встреча</h3>
               <p class="steps__text text">В бутике-ателье Вы вместе с дизайнером выбираете кожу, ткань, рисунок, фурнитуру и придумываете модель будущего изделия.</p>
            </div>
         </li>
         <li class="steps__item">
            <div class="steps__play play">
               <video class="play__video" preload="false" width="573" height="520" poster="/upload/demo/img/atelier_new/item_02.jpg" playsinline="playsinline" loop="loop" muted="muted">
                  <source data-desktop-src="/upload/demo/video/atelier_new/item_02.webm" data-mobile-src="/upload/demo/video/atelier_new/item_02_mobile.webm" type="video/webm" />
                  <source data-desktop-src="/upload/demo/video/atelier_new/item_02.mp4" data-mobile-src="/upload/demo/video/atelier_new/item_02_mobile.mp4" type="video/mp4" />
               </video>
               <button class="play__button btn-reset" type="button" class="btn-reset"></button>
               <a href="#" class="play__link"></a>
            </div>
            <div class="steps__content">
               <h3 class="steps__caption">Пошив</h3>
               <p class="steps__text text">Наши высоко квалифицированные мастера создают эксклюзивное изделие по индивидуальному дизайну в течении 3-4х недель.</p>
            </div>
         </li>
         <li class="steps__item">
            <div class="steps__head">
               <picture>
                  <source srcset="/upload/demo/img/atelier_new/item_03_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/atelier_new/item_03_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/atelier_new/item_03.webp" type="image/webp" />
                  <img class="steps__image img" width="573" height="520" src="/upload/demo/img/atelier_new/item_03.jpg" alt="Atelier" />
               </picture>
            </div>
            <div class="steps__content">
               <h3 class="steps__caption">Примерка</h3>
               <p class="steps__text text">В процессе примерки мы точно адаптируем изделие к Вашим индивидуальным параметрам и обсуждаем все тонкости его изготовления.</p>
            </div>
         </li>
         <li class="steps__item">
            <div class="steps__head">
               <picture>
                  <source srcset="/upload/demo/img/atelier_new/item_04_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                  <source srcset="/upload/demo/img/atelier_new/item_04_mobile.jpg" media="(max-width: 768px)" />
                  <source srcset="/upload/demo/img/atelier_new/item_04.webp" type="image/webp" />
                  <img class="steps__image img" width="573" height="520" src="/upload/demo/img/atelier_new/item_04.jpg" alt="Atelier" />
               </picture>
            </div>
            <div class="steps__content">
               <h3 class="steps__caption">Доработка</h3>
               <p class="steps__text text">Мы гарантируем эксклюзивность и индивидуальность вашего будущего аксессуара или обуви. Мы гарантируем индивидуальную посадку.</p>
            </div>
         </li>
         <li class="steps__item">
            <div class="steps__play play">
               <video class="play__video" preload="false" width="573" height="520" poster="/upload/demo/img/atelier_new/item_05.jpg" playsinline="playsinline" loop="loop" muted="muted">
                  <source data-desktop-src="/upload/demo/video/atelier_new/item_05.webm" data-mobile-src="/upload/demo/video/atelier_new/item_05_mobile.webm" type="video/webm" />
                  <source data-desktop-src="/upload/demo/video/atelier_new/item_05.mp4" data-mobile-src="/upload/demo/video/atelier_new/item_05_mobile.mp4" type="video/mp4" />
               </video>
               <button class="play__button btn-reset" type="button" class="btn-reset"></button>
               <a href="#" class="play__link"></a>
            </div>
            <div class="steps__content">
               <h3 class="steps__caption">Гарантия</h3>
               <p class="steps__text text">Мы гарантируем, что весь путь создания вашего изделия будет полон восторженных моментов, и каждая деталь будет отражать вашу уникальность.</p>
            </div>
         </li>
      </ul>
   </div>
</section>