<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    Resort — коллекция купальников «ТАЮ Bon Voyage»
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">Resort</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2025-08-11">11 августа 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--resort">
                    <div class="theses__hero">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/resort/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/resort/hero.png" width="1266" height="593" alt="Resort">
                            </picture>
                        </div>
                        <div class="theses__content content content--center">
                            <p class="theses__text theses__text--short">Вдохновленная такими роскошными островами, как Мальдивы, Бора-Бора и Бали, она передает атмосферу беззаботного отдыха, экзотической природы и лазурных вод.
                            </p>
                            <a href="/catalog/women/tau/swimwear/" class="theses__button button button--outline">
                                <span class="button__text">Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/resort/image_01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/image_01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/image_01.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="974" src="/upload/demo/img/resotr/image_01.jpg" alt="Resort">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/resort/image_02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/image_02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/image_02.webp" type="image/webp">
                                <img class="theses__image img" width="613" height="974" src="/upload/demo/img/resort/image_02.jpg" alt="Resort">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <h2 class="theses__title title">«Мальдивы»</h2>
                        <p class="theses__text theses__text--short">
                            Купальник подобно Мальдивским островам, передает магию Индийского океана через авторский принт и дизайн.
                        </p>
                        <p class="theses__text theses__text--short">Грациозные «Manta Flow», сквозь бирюзовую лазурь, мягко скользят по изгибам вашего тела.<br>
                            Это не просто купальник, а путешествие в рай, где вы становитесь частью океана, его ритма
                            и гармонии. Позвольте себе парить над лагуной, как крылатые манты!
                        </p>
                        <a href="/catalog/?q=%D0%BC%D0%B0%D0%BB%D1%8C%D0%B4%D0%B8%D0%B2%D1%8B" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid theses__grid--three">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/resort/maldives_01.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/maldives_01.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/maldives_01.webp" type="image/webp">
                                <img class="theses__image img" width="445" height="818" src="/upload/demo/img/resotr/maldives_01.jpg" alt="Maldives">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/resort/maldives_02.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/maldives_02.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/maldives_02.webp" type="image/webp">
                                <img class="theses__image img" width="445" height="818" src="/upload/demo/img/resort/maldives_02.jpg" alt="Maldives">
                            </picture>
                        </div>
                        <div class="theses__column">
                            <div class="theses__picture">
                                <picture>
                                    <source srcset="/upload/demo/img/resort/maldives_03.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/resort/maldives_03.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/resort/maldives_03.webp" type="image/webp">
                                    <img class="theses__image img" width="296" height="403" src="/upload/demo/img/resort/maldives_03.jpg" alt="Maldives">
                                </picture>
                            </div>
                            <div class="theses__picture">
                                <picture>
                                    <source srcset="/upload/demo/img/resort/maldives_04.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/resort/maldives_04.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/resort/maldives_04.webp" type="image/webp">
                                    <img class="theses__image img" width="296" height="403" src="/upload/demo/img/resort/maldives_04.jpg" alt="Maldives">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <h2 class="theses__title title">«Бора — бора»</h2>
                        <p class="theses__text theses__text--short">
                            Купальник «Бора — Бора» — тропический рай, где каждая деталь переносит вас на солнечные берега Полинезии. Яркие цветы, словно сорванные с райских кущ, украшают ткань, переливаясь под солнцем всеми оттенками бирюзы, коралла и изумруда.<br>
                            Этот купальник, как настроение отпуска, где каждый момент наполнен ароматом цветов, шепотом океана и беззаботным теплом.
                        </p>
                        <a href="/catalog/?q=%D0%B1%D0%BE%D1%80%D0%B0-%D0%B1%D0%BE%D1%80%D0%B0" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__picture theses__picture--main">
                        <picture>
                            <source srcset="/upload/demo/img/resort/bora-bora@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/resort/bora-bora@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/resort/bora-bora.webp" type="image/webp">
                            <img class="theses__image img" width="1266" height="1899" src="/upload/demo/img/resort/bora-bora.jpg" alt="Bora-bora">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <h2 class="theses__title title">«Медузы»</h2>
                        <p class="theses__text theses__text--short">
                            Купальник «Медузы» — глубина, тайна и магия океана, выраженная в дизайне, который делает вас частью морской стихии. Купальник для тех, кто хочет ощутить мощь и грацию океана, слиться с его ритмом и завораживать, как самое таинственное существо глубин.
                        </p>
                        <a href="/catalog/?q=%D0%BC%D0%B5%D0%B4%D1%83%D0%B7%D1%8B" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__picture theses__picture--main">
                        <picture>
                            <source srcset="/upload/demo/img/resort/medusa@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/resort/medusa@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/resort/medusa.webp" type="image/webp">
                            <img class="theses__image img" width="1266" height="1899" src="/upload/demo/img/resort/medusa.jpg" alt="Medusa">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <h2 class="theses__title title">«Тропики»</h2>
                        <p class="theses__text theses__text--short">
                            Купальник «Тропики» — воплощение беззаботного лета, где шепот пальмовых листьев
                            и золотистое солнце становятся частью вашего образа. Это поистине, ваш билет на райский пляж Бали, где каждый оттенок дышит магией тропиков.
                        </p>
                        <a href="/catalog/?q=%D1%82%D1%80%D0%BE%D0%BF%D0%B8%D0%BA%D0%B8" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="theses__grid theses__grid--three">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/resort/tropics_01.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/tropics_01.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/tropics_01.webp" type="image/webp">
                                <img class="theses__image img" width="445" height="818" src="/upload/demo/img/resotr/tropics_01.jpg" alt="Tropics">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/resort/tropics_02.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/resort/tropics_02.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/resort/tropics_02.webp" type="image/webp">
                                <img class="theses__image img" width="445" height="818" src="/upload/demo/img/resort/tropics_02.jpg" alt="Tropics">
                            </picture>
                        </div>
                        <div class="theses__column">
                            <div class="theses__picture">
                                <picture>
                                    <source srcset="/upload/demo/img/resort/tropics_03.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/resort/tropics_03.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/resort/tropics_03.webp" type="image/webp">
                                    <img class="theses__image img" width="296" height="403" src="/upload/demo/img/resort/tropics_03.jpg" alt="Tropics">
                                </picture>
                            </div>
                            <div class="theses__picture">
                                <picture>
                                    <source srcset="/upload/demo/img/resort/tropics_04.webp" media="(max-width: 768px)" type="image/webp">
                                    <source srcset="/upload/demo/img/resort/tropics_04.jpg" media="(max-width: 768px)">
                                    <source srcset="/upload/demo/img/resort/tropics_04.webp" type="image/webp">
                                    <img class="theses__image img" width="296" height="403" src="/upload/demo/img/resort/tropics_04.jpg" alt="Tropics">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>