<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    АNTE KOVAC для Татьяны Булановой
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">news/bulanova</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2025-08-11">06 марта 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--bulanova">
                    <div class="theses__hero">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/news/bulanova/hero.png" width="1926" height="1083" alt="Для Татьяны Булановой">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-01.webp" type="image/webp">
                                <img class="theses__image img" width="867" height="1084" src="/upload/demo/img/news/bulanova/bulanova-01.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-02.webp" type="image/webp">
                                <img class="theses__image img" width="867" height="1084" src="/upload/demo/img/news/bulanova/bulanova-02.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-03@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-03.webp" type="image/webp">
                            <img class="theses__image img" width="1784" height="2230" src="/upload/demo/img/news/bulanova/bulanova-03.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__grid theses__grid--three">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-04@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-04.webp" type="image/webp">
                            <img class="theses__image img" width="567" height="707" src="/upload/demo/img/news/bulanova/bulanova-04.jpg" alt="Татьяна Буланова">
                        </picture>
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-05@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-05@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-05.webp" type="image/webp">
                            <img class="theses__image img" width="567" height="707" src="/upload/demo/img/news/bulanova/bulanova-05.jpg" alt="Татьяна Буланова">
                        </picture>
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-06@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-06@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-06.webp" type="image/webp">
                            <img class="theses__image img" width="567" height="707" src="/upload/demo/img/news/bulanova/bulanova-06.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__picture theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-07@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-07@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-07.webp" type="image/webp">
                            <img class="theses__image img" width="1920" height="2401" src="/upload/demo/img/news/bulanova/bulanova-07.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-08@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-08@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-08.webp" type="image/webp">
                                <img class="theses__image img" width="867" height="1084" src="/upload/demo/img/news/bulanova/bulanova-08.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-09@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-09@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-09.webp" type="image/webp">
                                <img class="theses__image img" width="867" height="1084" src="/upload/demo/img/news/bulanova/bulanova-09.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-10@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-10@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-10.webp" type="image/webp">
                            <img class="theses__image img" width="1784" height="2230" src="/upload/demo/img/news/bulanova/bulanova-10.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-11@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-11@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-11.webp" type="image/webp">
                                <img class="theses__image img" width="867" height="1084" src="/upload/demo/img/news/bulanova/bulanova-11.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-12@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-12@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-12.webp" type="image/webp">
                                <img class="theses__image img" width="867" height="1084" src="/upload/demo/img/news/bulanova/bulanova-12.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture theses__picture--slim">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-13@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-13@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-13.webp" type="image/webp">
                            <img class="theses__image img" width="1487" height="1858" src="/upload/demo/img/news/bulanova/bulanova-13.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-14@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-14@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-14.webp" type="image/webp">
                            <img class="theses__image img" width="1784" height="2230" src="/upload/demo/img/news/bulanova/bulanova-14.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__grid theses__grid--free-two">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-15@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-15@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-15.webp" type="image/webp">
                                <img class="theses__image img" width="1058" height="847" src="/upload/demo/img/news/bulanova/bulanova-15.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-16@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-16@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/bulanova/bulanova-16.webp" type="image/webp">
                                <img class="theses__image img" width="677" height="847" src="/upload/demo/img/news/bulanova/bulanova-16.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__picture theses__picture--slim">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-17@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-17@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-17.webp" type="image/webp">
                            <img class="theses__image img" width="1482" height="1840" src="/upload/demo/img/news/bulanova/bulanova-17.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__picture theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-18@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-18@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/bulanova/bulanova-18.webp" type="image/webp">
                            <img class="theses__image img" width="1920" height="2400" src="/upload/demo/img/news/bulanova/bulanova-18.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>