<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    Татьяна Буланова — лицо новой весенней коллекции «Подобна цветку» ANTE KOVAC
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">Татьяна Буланова — лицо новой весенней коллекции «Подобна цветку» ANTE KOVAC</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2025-08-11">11 марта 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--bulanova">
                    <div class="theses__hero">
                        <div class="theses__content content content--center">
                            <h2 class="theses__title">Нежность женской души и сила северного характера: легендарная певица Татьяна Буланова — лицо новой весенней коллекции «Подобна цветку» ANTE KOVAC.</h2>
                            <p class="theses__text">Лицом и главным вдохновением новой коллекции ANTE KOVAC «Подобна цветку» стала женщина-икона, легендарная певица Татьяна Буланова. Ее хиты — такие разные, но такие искренние — с одинаковым замиранием сердца слушают и те, кто помнит их с первых дней, и совсем молодые люди, находящие в этой музыке актуальность.</p>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/like-a-flower/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/like-a-flower/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/like-a-flower/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/news/like-a-flower/hero.png" width="1346" height="1683" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Для написания новой главы своей истории команда ANTE KOVAC отправилась в Санкт-Петербург, где вдохновилась его архитектурной пластикой, прохладным дыханием Невы и особенной тишиной, скрытой за парадными фасадами. Город с богатой историей. Город, в который стремятся. Он рождает сильные характеры, личностей с внутренним стержнем и тонкой душой. Именно такой предстает Татьяна Буланова.</p>
                    </div>
                    <div class="theses__grid theses__picture--clip">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/like-a-flower/image-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-01.webp" type="image/webp">
                                <img class="theses__image img" width="944" height="1179" src="/upload/demo/img/news/like-a-flower/image-01.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/like-a-flower/image-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-02.webp" type="image/webp">
                                <img class="theses__image img" width="944" height="1179" src="/upload/demo/img/news/like-a-flower/image-02.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Легендарная певица стала для ANTE KOVAC символом многогранности женского характера, который, подобно соцветию, хранит в себе внутреннюю силу и спокойствие, достоинство и мягкость, стойкость и нежность. В этом единстве противоположностей кроется секрет настоящей гармонии.</p>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/like-a-flower/image-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-03@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-03.webp" type="image/webp">
                            <img class="theses__image img" width="1346" height="1682" src="/upload/demo/img/news/like-a-flower/image-03.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Мода — тоже про баланс. Она перестает быть просто одеждой, когда становится отражением души. Это не диктат подиумов, а диалог с собой — про то, что вдохновляет лично вас. Героиня новой коллекции ANTE KOVAC — женщина с собственным стилем. Она не следует общепринятым установкам. Она живая, настоящая и неповторимая.</p>
                        <p class="theses__text"><strong>«Вспоминая юношеские годы, мне всегда нравилось быть в одном течении с модой. При этом было важно выделяться, быть немножко в стороне от общей массы. Я всегда была убеждена: мода — то, что принимаешь для себя. Настоящий стиль — ваше удобство и комфорт. Новая коллекция ANTE KOVAC — олицетворение моей философии: очень мягкая кожа, приятные натуральные материалы, тактильное удовольствие»,</strong> — Татьяна Буланова.</p>
                    </div>
                    <div class="theses__picture theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/news/like-a-flower/image-04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-04@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-04.webp" type="image/webp">
                            <img class="theses__image img" width="1920" height="1536" src="/upload/demo/img/news/like-a-flower/image-04.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>