<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    Татьяна Буланова&nbsp;— лицо новой весенней коллекции «Подобна цветку» ANTE KOVAC
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">Татьяна Буланова&nbsp;— лицо новой весенней коллекции «Подобна цветку» ANTE KOVAC</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2025-08-11">11&nbsp;марта 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--bulanova">
                    <div class="theses__hero">
                        <div class="theses__content content content--center">
                            <h2 class="theses__title">Нежность женской души и&nbsp;сила северного характера: легендарная певица Татьяна Буланова&nbsp;— лицо новой весенней коллекции «Подобна цветку» ANTE KOVAC.</h2>
                            <p class="theses__text">Лицом и&nbsp;главным вдохновением новой коллекции ANTE KOVAC «Подобна цветку» стала женщина-икона, легендарная певица Татьяна Буланова. Ее&nbsp;хиты&nbsp;— такие разные, но&nbsp;такие искренние&nbsp;— с&nbsp;одинаковым замиранием сердца слушают и&nbsp;те, кто помнит их&nbsp;с&nbsp;первых дней, и&nbsp;совсем молодые люди, находящие в&nbsp;этой музыке актуальность.</p>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/like-a-flower/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/like-a-flower/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/like-a-flower/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/news/like-a-flower/hero.png" width="1346" height="1683" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Для&nbsp;написания новой главы своей истории команда ANTE KOVAC отправилась в&nbsp;Санкт-Петербург, где вдохновилась его архитектурной пластикой, прохладным дыханием Невы и&nbsp;особенной тишиной, скрытой за&nbsp;парадными фасадами. Город с&nbsp;богатой историей. Город, в&nbsp;который стремятся. Он&nbsp;рождает сильные характеры, личностей с&nbsp;внутренним стержнем и&nbsp;тонкой душой. Именно такой предстает Татьяна Буланова.</p>
                    </div>
                    <div class="theses__grid theses__picture--clip">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/like-a-flower/image-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-01.webp" type="image/webp">
                                <img class="theses__image img" width="944" height="1179" src="/upload/demo/img/news/like-a-flower/image-01.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/like-a-flower/image-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/like-a-flower/image-02.webp" type="image/webp">
                                <img class="theses__image img" width="944" height="1179" src="/upload/demo/img/news/like-a-flower/image-02.jpg" alt="Татьяна Буланова">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Легендарная певица стала для&nbsp;ANTE KOVAC символом многогранности женского характера, который, подобно соцветию, хранит в&nbsp;себе внутреннюю силу и&nbsp;спокойствие, достоинство и&nbsp;мягкость, стойкость и&nbsp;нежность. В&nbsp;этом единстве противоположностей кроется секрет настоящей гармонии.</p>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/like-a-flower/image-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-03@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-03.webp" type="image/webp">
                            <img class="theses__image img" width="1346" height="1682" src="/upload/demo/img/news/like-a-flower/image-03.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Мода&nbsp;— тоже про&nbsp;баланс. Она перестает быть просто одеждой, когда становится отражением души. Это не&nbsp;диктат подиумов, а&nbsp;диалог с&nbsp;собой&nbsp;— про&nbsp;то, что вдохновляет лично&nbsp;вас. Героиня новой коллекции ANTE KOVAC&nbsp;— женщина с&nbsp;собственным стилем. Она не&nbsp;следует общепринятым установкам. Она живая, настоящая и&nbsp;неповторимая.</p>
                        <p class="theses__text"><strong>«Вспоминая юношеские годы, мне всегда нравилось быть в&nbsp;одном течении с&nbsp;модой. При&nbsp;этом было важно выделяться, быть немножко в&nbsp;стороне от&nbsp;общей массы. Я&nbsp;всегда была убеждена: мода&nbsp;— то, что принимаешь для&nbsp;себя. Настоящий стиль&nbsp;— ваше удобство и&nbsp;комфорт. Новая коллекция ANTE KOVAC&nbsp;— олицетворение моей философии: очень мягкая кожа, приятные натуральные материалы, тактильное удовольствие»,</strong>&nbsp;— Татьяна Буланова.</p>
                    </div>
                    <div class="theses__picture theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/news/like-a-flower/image-04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-04@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/like-a-flower/image-04.webp" type="image/webp">
                            <img class="theses__image img" width="1920" height="1536" src="/upload/demo/img/news/like-a-flower/image-04.jpg" alt="Татьяна Буланова">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>