<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    Собственное производство в&nbsp;России в&nbsp;2026 году: риски и&nbsp;перспективы
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">Собственное производство в&nbsp;России в&nbsp;2026 году: риски и&nbsp;перспективы</h1>
        <div class="news-details__content">
            <time class="news-details__time" datetime="2025-08-11">06&nbsp;марта 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--bulanova theses--spring">
                    <div class="theses__hero">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/news/production/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/production/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/production/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/news/production/hero.png" width="1926" height="1083" alt="Производство">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Согласно изданию Коммерсантъ, с&nbsp;начала 2025 года открытие новых производств одежды стало значительно замедляться. Сейчас всё меньше отечественных брендов отшивают&nbsp;изделия на&nbsp;собственном производстве. В&nbsp;основном, владельцы брендов предпочитают аутсорсинг: размещение заказов на&nbsp;пошив изделий у&nbsp;сторонних производителей.</p>
                        <p class="theses__text">В&nbsp;2026 году отшивать изделия на&nbsp;собственном производстве скорее исключение из&nbsp;правил и&nbsp;особая привилегия, ведь владелец бренда сам выстраивает собственную команду, знает всех в&nbsp;лицо и&nbsp;может быть созидателем каждого процесса ежедневно. Однако содержать собственные цеха&nbsp;— огромные затраты, которые могут позволить себе далеко не&nbsp;все владельцы бизнесов. Особенно в&nbsp;современных реалиях 2026 года.</p>
                        <p class="theses__text">По&nbsp;прогнозам, на&nbsp;конец 2026 года&nbsp;сфера лёгкой промышленности будет постепенно укрепляться и&nbsp;адаптироваться под&nbsp;вызовы современного мира. Производства одежды будут расширяться и&nbsp;открываться новые.</p>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/production/image-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/production/image-01@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/production/image-01.webp" type="image/webp">
                                <img class="theses__image img" width="793" height="1188" src="/upload/demo/img/news/production/image-01.jpg" alt="Производство">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/production/image-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/production/image-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/production/image-02.webp" type="image/webp">
                                <img class="theses__image img" width="793" height="1188" src="/upload/demo/img/news/production/image-02.jpg" alt="Производство">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Генеральный директор и&nbsp;идейный вдохновитель ANTE&nbsp;KOVAC Надежда Хафизова изначально избрала для&nbsp;себя путь изготовления обуви, сумок, одежды и&nbsp;аксессуаров на&nbsp;собственном производстве в&nbsp;России. Надежде было важно контролировать каждый этап создания изделий: от&nbsp;первого стежка до&nbsp;закрепления фурнитуры на&nbsp;натуральной коже.</p>
                    </div>
                    <div class="theses__picture theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/news/production/image-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/production/image-03@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/production/image-03.webp" type="image/webp">
                            <img class="theses__image img" width="1927" height="1162" src="/upload/demo/img/news/production/image-03.jpg" alt="Производство">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Производственный комплекс ANTE KOVAC включает два цеха: с&nbsp;площадью 340&nbsp;м² — для&nbsp;изготовления сумок, открытый в&nbsp;2021 году, и&nbsp;с&nbsp;площадью 144&nbsp;м² — для&nbsp;обуви, который начал работу в&nbsp;2024 году. Здесь работают с&nbsp;самыми требовательными фактурами&nbsp;— нежной коровьей кожей, кожами питона и&nbsp;крокодила. Работа с&nbsp;такими экзотическими и&nbsp;дорогими материалами требует особого мастерства: здесь нет права на&nbsp;ошибку, а&nbsp;каждый срез и&nbsp;шов должны быть ювелирными.</p>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/production/image-04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/production/image-04@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/production/image-04.webp" type="image/webp">
                                <img class="theses__image img" width="793" height="1188" src="/upload/demo/img/news/production/image-04.jpg" alt="Производство">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/production/image-05@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/production/image-05@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/production/image-05.webp" type="image/webp">
                                <img class="theses__image img" width="793" height="1188" src="/upload/demo/img/news/production/image-05.jpg" alt="Производство">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Сегодня производство ANTE KOVAC даёт возможность выпускать как&nbsp;коллекционные линейки, так и&nbsp;создавать уникальные изделия по&nbsp;индивидуальному заказу&nbsp;— предметы, существующие
                            в&nbsp;единственном экземпляре и&nbsp;отражающие личную историю своего владельца.</p>
                    </div>
                    <div class="theses__picture theses__picture--clip">
                        <picture>
                            <source srcset="/upload/demo/img/news/production/image-06@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/production/image-06@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/production/image-06.webp" type="image/webp">
                            <img class="theses__image img" width="1927" height="1162" src="/upload/demo/img/news/production/image-06.jpg" alt="Производство">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>