<section class="news-details">
    <div class="news-details__container container">
        <div class="news-details__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Каталог">Новости</a>
                </li>
                <li class="breadcrumbs__item">
                    «Подобна цветку»&nbsp;— новая весенняя коллекция ANTE KOVAC
                </li>
            </ul>
        </div>
        <h1 class="news-details__title title">«Подобна цветку»&nbsp;— новая весенняя коллекция ANTE KOVAC</h1>
        <div class="news-details__content content">
            <time class="news-details__time" datetime="2025-08-11">06&nbsp;марта 2025</time>
            <div class="news-details__text text">
                <div class="theses theses--bulanova theses--spring">
                    <div class="theses__hero">
                        <div class="theses__picture theses__picture--clip">
                            <picture>
                                <source srcset="/upload/demo/img/news/spring/hero@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/spring/hero@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/spring/hero.webp" type="image/webp">
                                <img class="hero__logo-image img" src="/upload/demo/img/news/spring/hero.png" width="1920" height="1083" alt="Розы">
                            </picture>
                        </div>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">
                            В&nbsp;удивительном мире природы существует одна тайна: «Цветок не&nbsp;думает о&nbsp;соперничестве с&nbsp;соседним цветком. Он&nbsp;просто растёт».
                            <br><br>
                            Каждый цветок, со&nbsp;своими лепестками и&nbsp;узорами, уникален и&nbsp;неповторим. В&nbsp;каждом заложены изящество, красота и&nbsp;особое очарование. Женщина подобна цветку. Она может быть разной: нежной, как&nbsp;первые подснежники, страстной, как&nbsp;алые розы, или&nbsp;чувственной, как&nbsp;пионы, но&nbsp;всегда остается манящей и&nbsp;чарующей.
                        </p>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/spring/image-01@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/spring/image-01@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/spring/image-01.webp" type="image/webp">
                            <img class="theses__image img" width="687" height="787" src="/upload/demo/img/news/spring/image-01.jpg" alt="Сумка">
                        </picture>
                        <a target="_blank" href="/catalog/women/symki/sakvoyachi/sakvoyazh-karavella-sekret-tsveteniya/" class="theses__link">
                            Саквояж Каравелла «Подобна цветку»
                        </a>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Женская душа многогранна. В&nbsp;мире существуют тысячи разных, неповторимых видов цветов, но&nbsp;даже
                            всё их&nbsp;многообразие не&nbsp;способно в&nbsp;полной мере отразить глубину женской души во&nbsp;всех проявлениях:
                            с&nbsp;её&nbsp;наивностью, хрупкостью, сентиментальностью, соединенных с&nbsp;твердостью и&nbsp;решительностью.
                            Ведь в&nbsp;женской душе скрыты тысячи лепестков&nbsp;— воспоминаний, нежных слов и&nbsp;тайных мечтаний.</p>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/spring/image-02@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/spring/image-02@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/spring/image-02.webp" type="image/webp">
                                <img class="theses__image img" width="584" height="778" src="/upload/demo/img/news/spring/image-02.jpg" alt="Сумка">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/spring/image-03@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/spring/image-03@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/spring/image-03.webp" type="image/webp">
                                <img class="theses__image img" width="586" height="782" src="/upload/demo/img/news/spring/image-03.jpg" alt="Сумка">
                            </picture>
                        </div>
                        <a target="_blank" href="/catalog/women/symki/symki-107/sumka-107-sekret-tsveteniya/" class="theses__link">
                            Сумка № 107 «Подобна цветку»
                        </a>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Краски для&nbsp;нанесения рисунков создаются по&nbsp;эксклюзивной рецептуре: они обладают уникальной стойкостью, не&nbsp;выцветают на&nbsp;солнце и&nbsp;не&nbsp;истираются со&nbsp;временем. На&nbsp;финальном этапе роспись покрывается специальным защитным лаком, который надежно запечатывает живопись, сохраняя первозданную яркость цветов на&nbsp;десятилетия.</p>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/spring/image-04@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/spring/image-04@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/spring/image-04.webp" type="image/webp">
                            <img class="theses__image img" width="687" height="788" src="/upload/demo/img/news/spring/image-04.jpg" alt="Сумка">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">Линейку коллекции составили культовые формы, уже ставшие бестселлерами среди ценителей бренда. В&nbsp;новом прочтении представлены модели сумок 107, 103, 7, клатч и&nbsp;легендарный саквояж.</p>
                    </div>
                    <div class="theses__grid">
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/spring/image-05@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/spring/image-05@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/spring/image-05.webp" type="image/webp">
                                <img class="theses__image img" width="584" height="778" src="/upload/demo/img/news/spring/image-05.jpg" alt="Сумка">
                            </picture>
                        </div>
                        <div class="theses__picture">
                            <picture>
                                <source srcset="/upload/demo/img/news/spring/image-06@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                                <source srcset="/upload/demo/img/news/spring/image-06@0.5x.jpg" media="(max-width: 768px)">
                                <source srcset="/upload/demo/img/news/spring/image-06.webp" type="image/webp">
                                <img class="theses__image img" width="586" height="782" src="/upload/demo/img/news/spring/image-06.jpg" alt="Сумка">
                            </picture>
                        </div>
                        <a target="_blank" href="/catalog/women/symki/symki-103/sumka-103-sekret-tsveteniya/" class="theses__link">
                            Сумка № 107 «Подобна цветку»
                        </a>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text">
                            Дизайн изделий, в&nbsp;каждой детали которого чувствуется дыхание весны, по-разному раскрывается в&nbsp;зависимости от&nbsp;выбранного амплуа: он&nbsp;одинаково гармонично дополняет и&nbsp;строгий деловой костюм, и&nbsp;легкий романтичный наряд.
                            <br><br>
                            Каждый аксессуар, словно ароматный пышный цветок, распускается в&nbsp;руках своей обладательницы.
                        </p>
                    </div>
                    <div class="theses__picture">
                        <picture>
                            <source srcset="/upload/demo/img/news/spring/image-07@0.5x.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/news/spring/image-07@0.5x.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/news/spring/image-07.webp" type="image/webp">
                            <img class="theses__image img" width="687" height="788" src="/upload/demo/img/news/spring/image-07.jpg" alt="Сумка">
                        </picture>
                    </div>
                    <div class="theses__content content content--center">
                        <p class="theses__text"><strong>Весенняя коллекция «Подобна цветку» призвана напомнить: время для&nbsp;красоты и&nbsp;вдохновения наступает прямо сейчас.</strong></p>

                        <a href="/catalog/women/colleczi/podobna-cvetku/" class="theses__button button button--outline">
                            <span class="button__text">Подробнее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>