<section class="collections">
    <div class="collections__container">
        <div class="collections__swiper collections__swiper--partners swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-theme="dark">
                    <h2 class="swiper__title title">
                        ANTE KOVAC<br>
                        NEW COLLECTION
                    </h2>
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/collections_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/collections_01_mobile.png" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/collections_01.webp" type="image/webp">
                            <img class="swiper__image img" width="640" height="900" src="/upload/demo/img/partners_new/collections_01.png" alt="collections">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>