<section class="conditions">
    <div class="conditions__container container">
        <div class="conditions__row">
            <div class="conditions__picture">
                <picture>
                    <source srcset="/upload/demo/img/partners_new/conditions_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/partners_new/conditions_01_mobile.png" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/partners_new/conditions_01.webp" type="image/webp">
                    <img class="conditions__image img" width="900" height="570" src="/upload/demo/img/partners_new/conditions_01.png" alt="Фото бренда">
                </picture>
            </div>
            <div class="conditions__content content">
                <h2 class="conditions__title title">Оптовые продажи</h2>
                <p class="conditions__text text">ANTE KOVAC сегодня — это уникальные арт-объекты, применимые в повседневной жизни, обладание которыми способствует самовыражению в обход шаблонных стереотипов. Каждое изделие расписывается художником вручную, мастера вкладывают всю свою душу, а изделие сохраняет теплоту творческих рук. Если вы хотите стать представителем бренда в формате мультибренда, заполните форму заявки ниже.</p>
                <p class="conditions__text text">Отдел оптовых продаж ANTE KOVAC рассмотрит заявку в кратчайшие сроки, а затем наш менеджер свяжется с вами по указанным контактам.</p>
            </div>
        </div>
        <div class="conditions__row">
            <div class="conditions__picture">
                <picture>
                    <source srcset="/upload/demo/img/partners_new/conditions_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/partners_new/conditions_02_mobile.png" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/partners_new/conditions_02.webp" type="image/webp">
                    <img class="conditions__image img" width="900" height="570" src="/upload/demo/img/partners_new/conditions_02.png" alt="Фото бренда">
                </picture>
            </div>
            <div class="conditions__content content">
                <h2 class="conditions__title title">Условия сотрудничества</h2>
                <p class="conditions__subtitle">Мы предлагаем партнерам оптовые закупки на следующих условиях:</p>
                <ul class="conditions__list list-reset">
                    <li class="conditions__item text">Сотрудничество осуществляется только с юридическими лицами и индивидуальными предпринимателями;</li>
                    <li class="conditions__item text">Работа ведется по предварительным заказам и по свободному складу;</li>
                    <li class="conditions__item text">Оплата производится по безналичному расчету;</li>
                    <li class="conditions__item text">Отгрузка со склада в МO;</li>
                    <li class="conditions__item text">Компания ANTE KOVAC берет на себя таможенное оформление и маркировку товара в рамках требований законодательства РФ</li>
                </ul>
            </div>
        </div>
    </div>
</section>