<section class="feedback">
    <div class="feedback__container container">
        <h2 class="feedback__title title title--h2">НАМ ДОВЕРЯЮТ</h2>
        <div class="feedback__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_01.jpg" data-fancybox="feedback" data-caption="Анна Плетнева">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_01.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_01.jpg" alt="Анна Плетнева">
                        </picture>
                        <div class="swiper-caption">Анна Плетнева</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_02.jpg" data-fancybox="feedback" data-caption="Гала Борзова">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_02_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_02.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_02.jpg" alt="Гала Борзова">
                        </picture>
                        <div class="swiper-caption">Гала Борзова</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_03.jpg" data-fancybox="feedback" data-caption="Дмитрий Дибров">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_03_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_03_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_03.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_03.jpg" alt="Дмитрий Дибров">
                        </picture>
                        <div class="swiper-caption">Дмитрий Дибров</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_04.jpg" data-fancybox="feedback" data-caption="Елена Подкаминская">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_04_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_04_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_04.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_04.jpg" alt="Елена Подкаминская">
                        </picture>
                        <div class="swiper-caption">Елена Подкаминская</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_05.jpg" data-fancybox="feedback" data-caption="Мария Ост">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_05_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_05_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_05.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_05.jpg" alt="Мария Ост">
                        </picture>
                        <div class="swiper-caption">Мария Ост</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_06.jpg" data-fancybox="feedback" data-caption="Алена Мурлаева">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_06_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_06_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_06.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_06.jpg" alt="Алена Мурлаева">
                        </picture>
                        <div class="swiper-caption">Алена Мурлаева</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_07.jpg" data-fancybox="feedback" data-caption="Кулецкая">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_07_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_07_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_07.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_07.jpg" alt="Кулецкая">
                        </picture>
                        <div class="swiper-caption">Кулецкая</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_08.jpg" data-fancybox="feedback" data-caption="Оксана Федорова">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_08_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_08_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_08.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_08.jpg" alt="Оксана Федорова">
                        </picture>
                        <div class="swiper-caption">Оксана Федорова</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_09.jpg" data-fancybox="feedback" data-caption="Агата Муцениеце">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_09_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_09_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_09.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_09.jpg" alt="Агата Муцениеце">
                        </picture>
                        <div class="swiper-caption">Агата Муцениеце</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_10.jpg" data-fancybox="feedback" data-caption="Алина Санько">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_10_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_10_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_10.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_10.jpg" alt="Алина Санько">
                        </picture>
                        <div class="swiper-caption">Алина Санько</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_11.jpg" data-fancybox="feedback" data-caption="Карина Мурашкина">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_11_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_11_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_11.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_11.jpg" alt="Карина Мурашкина">
                        </picture>
                        <div class="swiper-caption">Карина Мурашкина</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_12.jpg" data-fancybox="feedback" data-caption="Владимир Канухин">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_12_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_12_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_12.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_12.jpg" alt="Владимир Канухин">
                        </picture>
                        <div class="swiper-caption">Владимир Канухин</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_13.jpg" data-fancybox="feedback" data-caption="Анна Плетнева">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_13_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_13_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_13.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_13.jpg" alt="Анна Плетнева">
                        </picture>
                        <div class="swiper-caption">Анна Плетнева</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_14.jpg" data-fancybox="feedback" data-caption="Руслан Громов">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_14_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_14_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_14.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_14.jpg" alt="Руслан Громов">
                        </picture>
                        <div class="swiper-caption">Руслан Громов</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/partners_new/feedback_15.jpg" data-fancybox="feedback" data-caption="Любовь Успенская">
                        <picture>
                            <source srcset="/upload/demo/img/partners_new/feedback_15_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/partners_new/feedback_15_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/partners_new/feedback_15.webp" type="image/webp">
                            <img class="feedback__image img" width="543" height="829" src="/upload/demo/img/partners_new/feedback_15.jpg" alt="Любовь Успенская">
                        </picture>
                        <div class="swiper-caption">Любовь Успенская</div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>