<section class="brand">
    <div class="brand__container container">
        <div class="brand__grid">
            <div class="brand__content content">
                <h2 class="brand__title title title--h2">В <span>2024</span> году Дом моды создал новый private brand ТАЮ.</h2>
                <p class="brand__text">ТАЮ — бренд, созданный в результате глубоких размышлений о природе красоты. Концепция «Люблю. Дышу. Мечтаю» легла в основу философии марки, которая освобождает от навязанных стереотипов и предлагает индивидуальный взгляд на красоту. В ТАЮ изделия, простые и лаконичные, как сами эти слова, служат средством раскрытия эмоций, ведь красота — это вы, а мы создаем искусство в комфорте изделий, раскрывая ваше внутреннее состояние.</p>
                <h2 class="brand__title title title--h2">ДНК</h2>
                <p class="brand__text">«Создавать искусство в комфорте изделий „ТАЮ“, воплощая многообразие культурных традиций через уникальные принты, которые переносят на ткань синтез русской и зарубежной культуры.</p>
            </div>
            <div class="brand__picture">
                <picture>
                    <source srcset="/upload/demo/img/about_new/brand_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_new/brand_01_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_new/brand_01.webp" type="image/webp">
                    <img class="brand__image img" width="805" height="1006" src="/upload/demo/img/about_new/brand_01.jpg" alt="brand ТАЮ">
                </picture>
            </div>
        </div>
    </div>
</section>