<section class="hero-about">
    <div class="hero-about__container container">
        <div class="hero-about__breadcrumbs breadcrumbs">
            <ul class="breadcrumbs__list list-reset">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link" title="Главная"></a>
                </li>
                <li class="breadcrumbs__item">
                    О нас
                </li>
            </ul>
        </div>
    </div>
    <div class="hero-about__container">
        <div class="hero-about__swiper swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide__play play">
                    <video class="play__video" preload="false" width="1920" height="900" poster="/upload/demo/img/main/video-poster.jpg" playsinline="playsinline" loop="loop" muted="muted">
                        <source data-desktop-src="/upload/demo/video/video-desktop.webm" data-mobile-src="/upload/demo/video/video-mobile.webm" type="video/webm">
                        <source data-desktop-src="/upload/demo/video/video-desktop.mp4" data-mobile-src="/upload/demo/video/video-mobile.mp4" type="video/mp4">
                    </video>
                    <button class="play__button btn-reset" type="button" class="btn-reset"></button>
                </div>
            </div>
        </div>
    </div>
</section>