<section class="news">
   <div class="news__container container">
      <h2 class="news__title title title--h2">Новости</h2>
      <ul class="news__list list-reset">
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="/upload/demo/img/about_new/news_01_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/about_new/news_01_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/about_new/news_01.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="/upload/demo/img/about_new/news_01.jpg" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="/upload/demo/img/about_new/news_02_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/about_new/news_02_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/about_new/news_02.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="/upload/demo/img/about_new/news_02.jpg" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
         <li class="news__item">
            <article class="news__article article-news">
               <div class="article-news__wrap">
                  <picture>
                     <source srcset="/upload/demo/img/about_new/news_03_mobile.webp" media="(max-width: 768px)" type="image/webp" />
                     <source srcset="/upload/demo/img/about_new/news_03_mobile.jpg" media="(max-width: 768px)" />
                     <source srcset="/upload/demo/img/about_new/news_03.webp" type="image/webp" />
                     <img class="article-news__image img" width="573" height="375" src="/upload/demo/img/about_new/news_03.jpg" alt="News" />
                  </picture>
                  <span class="article-news__label">Читать полностью</span>
               </div>
               <a href="#" class="article-news__link" arial-label="Читать полностью"></a>
            </article>
         </li>
   </div>
</section>