<section class="slider-about">
    <div class="slider-about__container">
        <h2 class="slider-about__title title title--h2">Новая коллекция</h2>
        <div class="slider-about__swiper swiper swiper--main">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper__picture">
                        <picture>
                            <source srcset="/upload/demo/img/about_new/slide_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/about_new/slide_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/about_new/slide_01.webp" type="image/webp">
                            <img class="swiper__image img" width="1920" height="900" src="/upload/demo/img/about_new/slide_01.jpg" alt="Slide">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>