<section class="style">
    <div class="style__container container">
        <h2 class="style__title title title--h2">ДНК ANTE KOVAC</h2>
        <p class="style__subtitle subtitle">
            Художественное мировое наследие.<br><br>
            Отображая современными средствами художественной выразительности, самобытно синтезируя традиции высокой моды.</p>
        <div class="style__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/about_new/style_01.jpg" data-fancybox="style">
                        <picture>
                            <source srcset="/upload/demo/img/about_new/style_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/about_new/style_01_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/about_new/style_01.webp" type="image/webp">
                            <img class="style__image img" width="543" height="829" src="/upload/demo/img/about_new/style_01.jpg" alt="style">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/about_new/style_02.jpg" data-fancybox="style">
                        <picture>
                            <source srcset="/upload/demo/img/about_new/style_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/about_new/style_02_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/about_new/style_02.webp" type="image/webp">
                            <img class="style__image img" width="543" height="829" src="/upload/demo/img/about_new/style_02.jpg" alt="style">
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="swiper-link" href="/upload/demo/img/about_new/style_03.jpg" data-fancybox="style">
                        <picture>
                            <source srcset="/upload/demo/img/about_new/style_03_mobile.webp" media="(max-width: 768px)" type="image/webp">
                            <source srcset="/upload/demo/img/about_new/style_03_mobile.jpg" media="(max-width: 768px)">
                            <source srcset="/upload/demo/img/about_new/style_03.webp" type="image/webp">
                            <img class="style__image img" width="543" height="829" src="/upload/demo/img/about_new/style_03.jpg" alt="style">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>