<section class="theses">
    <div class="theses__container container">
        <blockquote class="theses__blockquote blockquote">«Мы убеждены, что настоящая роскошь рождается из союза мастерства и неповторимости. Каждое наше изделие — это воплощение индивидуальности его владельца».</blockquote>
        <p class="theses__author author">Идейный вдохновитель Ante Kovac</p>
        <div class="theses__grid">
            <div class="theses__picture">
                <picture>
                    <source srcset="/upload/demo/img/about_new/theses_01_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_new/theses_01_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_new/theses_01.webp" type="image/webp">
                    <img class="theses__image img" width="1031" height="982" src="/upload/demo/img/about_new/theses_01.jpg" alt="Ценности">
                </picture>
            </div>
            <div class="theses__content content">
                <h1 class="theses__title title">История</h1>
                <p class="theses__text">ANTE KOVAC — Российский бренд, основанный в 2007 году.</p>
                <p class="theses__text">Располагая собственной мануфактурой, бренд создает эксклюзивные сумки и
                    аксессуары премиального качества. Наша история берет свое начало с выпуска handmade продукции из кожи, продажи первых произведений осуществлялись на уличных ярмарках молодых дизайнеров.</p>
                <p class="theses__text">В 2008 году бренд открыл первый бутик в FOUR SEASONS отображая в своих изделиях Художественное мировое наследие.
                    Первой коллекцией стала «Славянка» брэнда переработал в своей айдентике русскую культуру создав ультрасовременную версию традиций России, добавив всем известные старославянские мотивы. Бренд откликнулся аудитории и начал создавать коллекции с деятелями искусства. В создании коллекций принимали участие известные российские живописцы Никас Сафронов, Борис Индриков, Владимир Гвоздев, путешественник и телеведущий Тимофей Баженов, и многие другие знаменитые деятели культуры и искусства. Так началась долгая история яркого Российского бренда аксессуаров ручной работы.</p>
                <p class="theses__text">Наряду с выпуском концептуальных коллекций, бренд предоставляет своим клиентам возможность самовыражения посредством индивидуального заказа. Обладая изделием ANTE KOVAC, клиент получает несравненное ощущение того, что предмет изготовлен специально для него, с учетом всех пожеланий. Функциональных и эстетических, что дарит понимание присутствия в Вашей жизни изделия со смыслом, характером и душой.</p>
            </div>
            <div class="theses__content content">
                <h2 class="theses__title title">Миссия бренда</h2>
                <ul class="theses__list list-reset">
                    <li class="theses__item">Дарить искусство в каждой детали, пробуждая любовь к эстетике и утонченности.</li>
                    <li class="theses__item">Вдохновлять к выражению своей индивидуальности через призму искусства, стиля и моды.</li>
                </ul>
            </div>
            <div class="theses__picture">
                <picture>
                    <source srcset="/upload/demo/img/about_new/theses_02_mobile.webp" media="(max-width: 768px)" type="image/webp">
                    <source srcset="/upload/demo/img/about_new/theses_02_mobile.jpg" media="(max-width: 768px)">
                    <source srcset="/upload/demo/img/about_new/theses_02.webp" type="image/webp">
                    <img class="theses__image img" width="833" height="1111" src="/upload/demo/img/about_new/theses_02.jpg" alt="Ценности">
                </picture>
            </div>
        </div>
    </div>
</section>